/* ==========================================================================
   EXTENSIONS / SEARCH-PREVIEW / SEARCH-PREVIEW
   ========================================================================== */

.x-search-preview {
	background-color: #FFFFFF;
	box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.25);
	display: none;
	opacity: 0;
	padding: 0.75rem 0.5rem;
	position: absolute;
	transition: opacity ease-in-out 0.5s;
	visibility: hidden;
	width: 100%;
	z-index: 500;
}

.x-search-preview--open {
	opacity: 1;
	visibility: visible;
}

.x-search-preview__entry {
	display: block;
}

.x-search-preview__list {
	padding: 0 0.5rem;
}

.x-search-preview__line {
	align-items: center;
	border-bottom: 1px solid #EAEAEA;
	cursor: pointer;
	display: flex;
	font-size: 0.875rem;
	padding: 0.75rem 0;
	position: relative;
}

.x-search-preview__image {
	margin: 0 1em 0 0;
	overflow: hidden;
	text-align: center;
	width: 4rem;
}

.x-search-preview__item {
	display: flex;
	flex: 1;
	justify-content: space-between;
	text-decoration: none;
}

.x-search-preview__search-all {
	cursor: pointer;
	font-style: italic;
	padding: 0.5rem;
}

/**
	* This section contains the necessary styles when using the built-in search
	* preview ability of Miva. Since the functional code is generated at run-time,
	* these styles do not conform to the tenants used in the rest of the framework.
	*/

.mm_searchfield_menuitem_selected {
	background-color: #EAEAEA;
}
