@import "variables";

/* ==========================================================================
   EXTENSIONS / MESSAGES
   ========================================================================== */

/**
 * Messages are block elements used to display information to the visitor about
 * their current session. Typically these are informational or error messages
 * such as you would see on a checkout page if there was an error with the
 * credit card used.
 */

.x-messages {
	@include message-base;

	*:last-child {
		margin-bottom: 0;
	}

	&.auto-hide {
		animation-delay: 5000ms;
		animation-duration: 200ms;
		animation-fill-mode: forwards;
		animation-name: fadeout;
	}
}

.x-messages--borderless {
	border: 0 none;
}

@each $name, $color in $colors_messages {

	.x-messages--#{$name} {
		background-color: scale-color($color, $lightness: +97%);
		border-color: scale-color($color, $lightness: +80%);
		color: $color;
	}

}

/**
 * These classes will help format the message if you are adding an icon.
 */

.x-messages--with-icon {
	align-items: center;
	display: flex;
}

span.x-messages--with-icon {
	display: inline-flex;
}

.x-messages__icon {
	font-size: 1.2em;
	line-height: 0;
	margin-right: 0.5em;
}

.x-messages__close {
	color: #333333;
	font-size: 2rem;
	line-height: 1;
	margin-top: -1rem;
	opacity: 0.3;
	position: absolute;
	right: 0.25rem;
	text-decoration: none;
	top: 50%;
}

@keyframes fadeout {

	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}

}

.hide {
	display: none;
}

/*
	what??? they have an old browser?
	This can be removed if you do not need to alert for IE < 9.
*/

.x-messages--update-browser {
	position: relative;
	text-align: center;
	width: 100%;
}

.align-vertical {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
