@font-face {
  font-family: 'Genesis-Icons';
  src:
    url('fonts/Genesis-Icons.ttf?p1pphb') format('truetype'),
    url('fonts/Genesis-Icons.woff?p1pphb') format('woff'),
    url('fonts/Genesis-Icons.svg?p1pphb#Genesis-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="u-icon-"], [class*=" u-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Genesis-Icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.u-icon-logout:before {
  content: "\e93d";
}
.u-icon-speech-bubble:before {
  content: "\e93c";
}
.u-icon-add:before {
  content: "\e900";
}
.u-icon-arrow-down:before {
  content: "\e901";
}
.u-icon-arrow-left:before {
  content: "\e902";
}
.u-icon-arrow-right:before {
  content: "\e903";
}
.u-icon-arrow-up:before {
  content: "\e904";
}
.u-icon-bag-empty:before {
  content: "\e905";
}
.u-icon-bag-full:before {
  content: "\e906";
}
.u-icon-balance:before {
  content: "\e907";
}
.u-icon-calendar:before {
  content: "\e908";
}
.u-icon-cart-add:before {
  content: "\e909";
}
.u-icon-cart-empty:before {
  content: "\e90a";
}
.u-icon-cart-full:before {
  content: "\e90b";
}
.u-icon-check:before {
  content: "\e90c";
}
.u-icon-chevron-down:before {
  content: "\e90d";
}
.u-icon-chevron-left:before {
  content: "\e90e";
}
.u-icon-chevron-right:before {
  content: "\e90f";
}
.u-icon-chevron-up:before {
  content: "\e910";
}
.u-icon-credit-card:before {
  content: "\e911";
}
.u-icon-cross:before {
  content: "\e912";
}
.u-icon-document:before {
  content: "\e913";
}
.u-icon-envelope:before {
  content: "\e914";
}
.u-icon-error:before {
  content: "\e915";
}
.u-icon-facebook:before {
  content: "\e916";
}
.u-icon-flickr:before {
  content: "\e917";
}
.u-icon-gift:before {
  content: "\e918";
}
.u-icon-globe:before {
  content: "\e919";
}
.u-icon-google:before {
  content: "\e91a";
}
.u-icon-heart-empty:before {
  content: "\e91b";
}
.u-icon-heart-full:before {
  content: "\e91c";
}
.u-icon-history:before {
  content: "\e91d";
}
.u-icon-home:before {
  content: "\e91e";
}
.u-icon-info:before {
  content: "\e91f";
}
.u-icon-instagram:before {
  content: "\e920";
}
.u-icon-location:before {
  content: "\e921";
}
.u-icon-menu:before {
  content: "\e922";
}
.u-icon-phone:before {
  content: "\e923";
}
.u-icon-pinterest:before {
  content: "\e924";
}
.u-icon-print:before {
  content: "\e925";
}
.u-icon-protected:before {
  content: "\e926";
}
.u-icon-question:before {
  content: "\e927";
}
.u-icon-remove:before {
  content: "\e928";
}
.u-icon-search:before {
  content: "\e929";
}
.u-icon-secure:before {
  content: "\e92a";
}
.u-icon-settings:before {
  content: "\e92b";
}
.u-icon-star-empty:before {
  content: "\e92c";
}
.u-icon-star-full:before {
  content: "\e92d";
}
.u-icon-subtract:before {
  content: "\e92e";
}
.u-icon-triangle-down:before {
  content: "\e92f";
}
.u-icon-triangle-left:before {
  content: "\e930";
}
.u-icon-triangle-right:before {
  content: "\e931";
}
.u-icon-triangle-up:before {
  content: "\e932";
}
.u-icon-truck:before {
  content: "\e933";
}
.u-icon-twitter:before {
  content: "\e934";
}
.u-icon-user:before {
  content: "\e935";
}
.u-icon-vimeo:before {
  content: "\e936";
}
.u-icon-wallet:before {
  content: "\e937";
}
.u-icon-warning:before {
  content: "\e938";
}
.u-icon-youtube:before {
  content: "\e939";
}
.u-icon-zoom-in:before {
  content: "\e93a";
}
.u-icon-zoom-out:before {
  content: "\e93b";
}
