@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?p1pphb') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?p1pphb') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?p1pphb##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="u-icon-"], [class*=" u-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.u-icon-logout {
  &:before {
    content: $u-icon-logout; 
  }
}
.u-icon-speech-bubble {
  &:before {
    content: $u-icon-speech-bubble; 
  }
}
.u-icon-add {
  &:before {
    content: $u-icon-add; 
  }
}
.u-icon-arrow-down {
  &:before {
    content: $u-icon-arrow-down; 
  }
}
.u-icon-arrow-left {
  &:before {
    content: $u-icon-arrow-left; 
  }
}
.u-icon-arrow-right {
  &:before {
    content: $u-icon-arrow-right; 
  }
}
.u-icon-arrow-up {
  &:before {
    content: $u-icon-arrow-up; 
  }
}
.u-icon-bag-empty {
  &:before {
    content: $u-icon-bag-empty; 
  }
}
.u-icon-bag-full {
  &:before {
    content: $u-icon-bag-full; 
  }
}
.u-icon-balance {
  &:before {
    content: $u-icon-balance; 
  }
}
.u-icon-calendar {
  &:before {
    content: $u-icon-calendar; 
  }
}
.u-icon-cart-add {
  &:before {
    content: $u-icon-cart-add; 
  }
}
.u-icon-cart-empty {
  &:before {
    content: $u-icon-cart-empty; 
  }
}
.u-icon-cart-full {
  &:before {
    content: $u-icon-cart-full; 
  }
}
.u-icon-check {
  &:before {
    content: $u-icon-check; 
  }
}
.u-icon-chevron-down {
  &:before {
    content: $u-icon-chevron-down; 
  }
}
.u-icon-chevron-left {
  &:before {
    content: $u-icon-chevron-left; 
  }
}
.u-icon-chevron-right {
  &:before {
    content: $u-icon-chevron-right; 
  }
}
.u-icon-chevron-up {
  &:before {
    content: $u-icon-chevron-up; 
  }
}
.u-icon-credit-card {
  &:before {
    content: $u-icon-credit-card; 
  }
}
.u-icon-cross {
  &:before {
    content: $u-icon-cross; 
  }
}
.u-icon-document {
  &:before {
    content: $u-icon-document; 
  }
}
.u-icon-envelope {
  &:before {
    content: $u-icon-envelope; 
  }
}
.u-icon-error {
  &:before {
    content: $u-icon-error; 
  }
}
.u-icon-facebook {
  &:before {
    content: $u-icon-facebook; 
  }
}
.u-icon-flickr {
  &:before {
    content: $u-icon-flickr; 
  }
}
.u-icon-gift {
  &:before {
    content: $u-icon-gift; 
  }
}
.u-icon-globe {
  &:before {
    content: $u-icon-globe; 
  }
}
.u-icon-google {
  &:before {
    content: $u-icon-google; 
  }
}
.u-icon-heart-empty {
  &:before {
    content: $u-icon-heart-empty; 
  }
}
.u-icon-heart-full {
  &:before {
    content: $u-icon-heart-full; 
  }
}
.u-icon-history {
  &:before {
    content: $u-icon-history; 
  }
}
.u-icon-home {
  &:before {
    content: $u-icon-home; 
  }
}
.u-icon-info {
  &:before {
    content: $u-icon-info; 
  }
}
.u-icon-instagram {
  &:before {
    content: $u-icon-instagram; 
  }
}
.u-icon-location {
  &:before {
    content: $u-icon-location; 
  }
}
.u-icon-menu {
  &:before {
    content: $u-icon-menu; 
  }
}
.u-icon-phone {
  &:before {
    content: $u-icon-phone; 
  }
}
.u-icon-pinterest {
  &:before {
    content: $u-icon-pinterest; 
  }
}
.u-icon-print {
  &:before {
    content: $u-icon-print; 
  }
}
.u-icon-protected {
  &:before {
    content: $u-icon-protected; 
  }
}
.u-icon-question {
  &:before {
    content: $u-icon-question; 
  }
}
.u-icon-remove {
  &:before {
    content: $u-icon-remove; 
  }
}
.u-icon-search {
  &:before {
    content: $u-icon-search; 
  }
}
.u-icon-secure {
  &:before {
    content: $u-icon-secure; 
  }
}
.u-icon-settings {
  &:before {
    content: $u-icon-settings; 
  }
}
.u-icon-star-empty {
  &:before {
    content: $u-icon-star-empty; 
  }
}
.u-icon-star-full {
  &:before {
    content: $u-icon-star-full; 
  }
}
.u-icon-subtract {
  &:before {
    content: $u-icon-subtract; 
  }
}
.u-icon-triangle-down {
  &:before {
    content: $u-icon-triangle-down; 
  }
}
.u-icon-triangle-left {
  &:before {
    content: $u-icon-triangle-left; 
  }
}
.u-icon-triangle-right {
  &:before {
    content: $u-icon-triangle-right; 
  }
}
.u-icon-triangle-up {
  &:before {
    content: $u-icon-triangle-up; 
  }
}
.u-icon-truck {
  &:before {
    content: $u-icon-truck; 
  }
}
.u-icon-twitter {
  &:before {
    content: $u-icon-twitter; 
  }
}
.u-icon-user {
  &:before {
    content: $u-icon-user; 
  }
}
.u-icon-vimeo {
  &:before {
    content: $u-icon-vimeo; 
  }
}
.u-icon-wallet {
  &:before {
    content: $u-icon-wallet; 
  }
}
.u-icon-warning {
  &:before {
    content: $u-icon-warning; 
  }
}
.u-icon-youtube {
  &:before {
    content: $u-icon-youtube; 
  }
}
.u-icon-zoom-in {
  &:before {
    content: $u-icon-zoom-in; 
  }
}
.u-icon-zoom-out {
  &:before {
    content: $u-icon-zoom-out; 
  }
}

