$icomoon-font-family: "Genesis-Icons" !default;
$icomoon-font-path: "fonts" !default;

$u-icon-logout: "\e93d";
$u-icon-speech-bubble: "\e93c";
$u-icon-add: "\e900";
$u-icon-arrow-down: "\e901";
$u-icon-arrow-left: "\e902";
$u-icon-arrow-right: "\e903";
$u-icon-arrow-up: "\e904";
$u-icon-bag-empty: "\e905";
$u-icon-bag-full: "\e906";
$u-icon-balance: "\e907";
$u-icon-calendar: "\e908";
$u-icon-cart-add: "\e909";
$u-icon-cart-empty: "\e90a";
$u-icon-cart-full: "\e90b";
$u-icon-check: "\e90c";
$u-icon-chevron-down: "\e90d";
$u-icon-chevron-left: "\e90e";
$u-icon-chevron-right: "\e90f";
$u-icon-chevron-up: "\e910";
$u-icon-credit-card: "\e911";
$u-icon-cross: "\e912";
$u-icon-document: "\e913";
$u-icon-envelope: "\e914";
$u-icon-error: "\e915";
$u-icon-facebook: "\e916";
$u-icon-flickr: "\e917";
$u-icon-gift: "\e918";
$u-icon-globe: "\e919";
$u-icon-google: "\e91a";
$u-icon-heart-empty: "\e91b";
$u-icon-heart-full: "\e91c";
$u-icon-history: "\e91d";
$u-icon-home: "\e91e";
$u-icon-info: "\e91f";
$u-icon-instagram: "\e920";
$u-icon-location: "\e921";
$u-icon-menu: "\e922";
$u-icon-phone: "\e923";
$u-icon-pinterest: "\e924";
$u-icon-print: "\e925";
$u-icon-protected: "\e926";
$u-icon-question: "\e927";
$u-icon-remove: "\e928";
$u-icon-search: "\e929";
$u-icon-secure: "\e92a";
$u-icon-settings: "\e92b";
$u-icon-star-empty: "\e92c";
$u-icon-star-full: "\e92d";
$u-icon-subtract: "\e92e";
$u-icon-triangle-down: "\e92f";
$u-icon-triangle-left: "\e930";
$u-icon-triangle-right: "\e931";
$u-icon-triangle-up: "\e932";
$u-icon-truck: "\e933";
$u-icon-twitter: "\e934";
$u-icon-user: "\e935";
$u-icon-vimeo: "\e936";
$u-icon-wallet: "\e937";
$u-icon-warning: "\e938";
$u-icon-youtube: "\e939";
$u-icon-zoom-in: "\e93a";
$u-icon-zoom-out: "\e93b";

