@import "variables";

/* Storefront
=========================================== */

.t-storefront-about {

	.c-heading-style-3 {
		@include rem(font-size, 30);
		letter-spacing: 3px;
	}

	.c-heading--subheading {
		font-size: $font-size-medium;
		font-weight: $font-weight-semibold;
		letter-spacing: 2px;
	}
}

.t-storefront-about__brief {
	@include rem(font-size, 15);
	line-height: 1.667;
}

.t-pagination {

	.c-button {
		border-color: $gray-2;
		height: 2em;
		line-height: 2;
		padding: 0;
		width: 2em;
	}
}
