/* ==========================================================================
Accordions
========================================================================== */

.x-accordion {
	border: solid $ui-accordion-tab-border-color;
	border-width: $ui-accordion-tab-border-width;
	cursor: pointer;
	margin: 0 auto;
	max-width: $ui-accordion-wrapper;

	&:focus {
		outline: none;
	}

	.x-accordion__label {
		font-size: $ui-accordion-label-font-size;
		line-height: $ui-accordion-label-line-height;
		margin: 0;
		padding: $ui-accordion-spacer-m 0;
		position: relative;

		&:focus {
			outline: none;
		}

		&::-webkit-details-marker {
			display: none;
		}

		&:before {
			display: none;
		}

		.o-layout__item {
			padding: 0;
		}

		.x-accordion__toggle {
			@include ui-accordion-tab-toggle;

			&:before {
				content: $ui-accordion-icon-closed;
			}
		}
	}

	.x-accordion__copy {
		display: block;
		font-size: $ui-accordion-copy-font-size-s;
		line-height: $ui-accordion-copy-line-height-s;
		padding: 0;

		@include media (">=medium") {
			font-size: $ui-accordion-copy-font-size;
			line-height: $ui-accordion-copy-line-height;
		}

		&:focus {
			outline: none;
		}

		img {
			margin-bottom: $ui-accordion-spacer-m;
			max-width: $ui-accordion-max-img-size;
		}
	}

	&[ open ] {

		.x-accordion__label {
			padding: $ui-accordion-spacer-m 0 $ui-accordion-spacer-l;
		}

		.x-accordion__toggle {

			&:before {
				content: $ui-accordion-icon-opened;
			}
		}
	}
}


/* Edge / IE11 polyfill fix. Edge/IE11 has an issue with the polyfill where
summary tags with non-plain text content will not trigger the open event */

.no-details .x-accordion {

	.x-accordion__label {

		span {
			pointer-events: none;
		}
	}
}
