/* ==========================================================================
   EXTENSIONS / BREADCRUMBS / BREADCRUMBS
   ========================================================================== */

.x-breadcrumbs {
	border-bottom: 1px solid #C0C0C0;
	padding-left: 1rem;

	.o-list-inline__item:not(:last-of-type):after {
		content: "/";
		display: inline-block;
		position: relative;
	}
}
