/* ==========================================================================
   COMPONENTS / BUTTONS
   ========================================================================== */

/**
 * 1.  Allows styling of box model properties.
 * 2.  Reset browser styles.
 * 3.  Subtract border-width from the padding so buttons don't grow if the
 *     border-width is modified.
 * 4.  Tidy alignment for when the button size needs to be modified.
 * 5.  Make buttons inherit font styles (necessary when styling `input`s as
 *     buttons).
 * 6.  Set default button font-size.
 * 7.  Set default button font-weight.
 * 8.  Set default button text-alignment.
 * 9.  Remove anchor text-decoration (necessary when styling `a`s as buttons).
 * 10. Base transparent border for modifiers to alter.
 * 11. Set default button border-radius.
 * 12. Set default button transition.
 * 13. Force all button-styled elements to appear click-able.
 * 14. Remove browser outline styles.
 */

.c-button {
	appearance: none;
	background-color: $button-background-color;
	border: $button-border; /* [10] */
	border-radius: $btn-radius; /* [11] */
	color: $white;
	cursor: pointer; /* [13] */
	display: inline-block; /* [1] */
	font-family: $button-font-family; /* [5] */
	font-size: $button-font-size; /* [6] */
	font-weight: $button-font-weight; /* [7] */
	line-height: normal;
	margin: 0; /* [2] */

	padding: 1em; /* [3] */

	@include media("screen", ">=medium") {
		padding: 1em 3em; /* [3] */
	}

	position: relative;
	text-align: center; /* [8] */
	text-decoration: none; /* [9] */
	transition: all 0.3s ease; /* [12] */
	user-select: none;
	vertical-align: middle; /* [4] */

	/* Fix a Firefox bug whereby `input type="submit"` gains 2px extra padding. */

	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	&:hover,
	&:active,
	&:focus {
		outline: none; /* [1] */
		text-decoration: none; /* [9] */
	}

	&:hover {
		opacity: 0.9;
	}
}

/**
* For outlined or hollow buttons.
*/

.c-button--hollow {
	background-color: rgba(0, 0, 0, 0);
	border-color: currentColor;
	color: inherit;

	&:hover {
		background-color: rgba(0, 0, 0, 0.05);
	}
}

/**
* For buttons you want to look like normal links.
*/

.c-button--clear {
	background-color: rgba(0, 0, 0, 0);

	&:hover,
	&:active {
		border-bottom: $border-width-medium solid currentColor;
	}

	&:not([ class*="u-bg-" ]):hover {
		background-color: rgba(0, 0, 0, 0);
	}
}

/* Button state modifiers
   =========================================== */

/**
 * For buttons whose state is toggled.
 */

 /* stylelint-disable */

.c-button:disabled,
.c-button.is-disabled,
.c-button.is-disabled:hover,
.c-button.is-disabled:active,
.c-button.is-disabled:focus {
	background-color: #C0C0C0;
	border-color: #C0C0C0;
	color: #FFFFFF;
	cursor: not-allowed;
}

/**
* For buttons whose state is toggled when a related form or field contains
* an error or multiple errors.
*/

.c-button.is-error,
.c-button.is-error:hover,
.c-button.is-error:active,
.c-button.is-error:focus,
.is-error .c-button,
.is-error .c-button:hover,
.is-error .c-button:active,
.is-error .c-button:focus {
	background-color: #C8102E;
	border-color: #C8102E;
	color: #FFFFFF;
	cursor: not-allowed;
}

/* Button sizing modifiers
   =========================================== */

.c-button--xsmall {
	font-size: 0.625em;
	padding: 0.5em 1em; /* [3] */
}

.c-button--small {
	font-size: 0.75em;
	padding: 0.75em 2em; /* [3] */
}

.c-button--large {
	padding: 1.5em 4em; /* [3] */
}

.c-button--xlarge {
	padding: 2em 5em; /* [3] */
}

.c-button--flush {
	padding-left: 0;
	padding-right: 0;
}

/**
* For buttons that need to display full-width on small devices only.
*/

.c-button--full-small {
	display: block;
	width: 100%;
}

/**
* For buttons that need to display full-width.
*/

.c-button--full {
	display: block;
	width: 100%;
}

/* ==========================================================================
Floating CTA Buttons
========================================================================== */

.c-floating-cta {
	display: none;
	padding: 0;
	z-index: 9;

	@include media( ">=medium" ) {
		display: block;
		position: absolute;
		text-align: left;
	}

	&.o-layout--align-end {
		bottom: 0;
	}

	&.o-layout--align-start {
		top: 0;
	}

	&.o-layout--justify-start {
		left: 0;
	}

	&.o-layout--justify-end {
		right: 0;
	}

	&.o-layout--justify-center {
		left: 0;
		margin: 0 auto;
		right: 0;

		> * {
			margin: 0 auto;
		}
	}

}

.u-cta-style--pattern-bg {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: $unit;
	position: relative;
	text-align: left;
	width: auto;

	&:hover {

		.u-cta-style--pattern--subtitle {

			.u-icon-arrow-right {
				left: 0;
			}
		}

	}

	.u-cta-style--pattern--title {
		margin-bottom: $unit;
	}

	.u-cta-style--pattern--subtitle {
		align-items: center;
		display: flex;
		justify-content: space-between;

		.u-icon-arrow-right {
			left: -5px;
			position: relative;
			transition: all 0.2s;
			padding-left: $unit;
		}
	}
}
