//
// Base styles
//

.x-card {
	background-clip: border-box;
	background-color: $card-bg;
	border: $card-border;
	border-radius: $radius-small;
	display: flex;
	flex-direction: column;
	height: $card-height;
	margin: 5px 0px;
	min-width: 0;
	position: relative;
	word-wrap: break-word;

	> hr {
		margin-left: 0;
		margin-right: 0;
	}
}

.x-card-body {
	color: $main-text-color;
	flex: 1 1 auto;
	min-height: 1px;
	padding: $card-spacer-y $card-spacer-x;
}

.x-card-title {
	margin-bottom: $card-spacer-y;
}

.x-card-list {
	border-top: $card-border;

	> li{
		border-bottom: $card-border;
		padding: $card-spacer-y $card-spacer-x;
	}
}

.x-card-subtitle {
	margin-bottom: 0;
	margin-top: -$card-spacer-y / 2;
}

.x-card-text:last-child {
	margin-bottom: 0;
}

.x-card-link {

	&:hover {
		text-decoration: none;
	}

	+ .x-card-link {
		margin-left: $card-spacer-x;
	}
}

//
// Optional textual caps
//

.x-card-header {
	background-color: $card-cap-bg;
	border-bottom: $card-border;
	color: $main-text-color;
	margin-bottom: 0;
	padding: $card-spacer-y $card-spacer-x;

	&:first-child {
		border-radius: $radius-small;
	}
}

.x-card-footer {
	background-color: $card-cap-bg;
	border-top: $card-border;
	padding: $card-spacer-y $card-spacer-x;

	&:last-child {
		border-radius: $radius-small;
	}
}

//
// Header navs
//

.x-card-header-tabs {
	border-bottom: 0;
	margin-bottom: -$card-spacer-y;
	margin-left: -$card-spacer-x / 2;
	margin-right: -$card-spacer-x / 2;
}

.x-card-pill {
	background-color: $card-bg;
	border-radius: $radius-small;
	padding: 5px;
}

// Card image

.x-card-img-overlay {
	position: relative;
}

.x-card-img-overlay :not(img) {
	position: absolute;
	top: 0;
}

.x-card-img,
.x-card-img-top,
.x-card-img-bottom {
	flex-shrink: 0;
	width: 100%;
}

.x-card-img,
.x-card-img-top {
	border-radius: $radius-small;
}

.x-card-img,
.x-card-img-bottom {
	border-radius: $radius-small;
}
