.x-carousel {

	.x-product-card {
		padding-top: $ui-product-card-top-padding;

		.x-product-card__image {
			padding: $ui-product-card-image-padding;
		}

		.x-product-card__footer {
			text-align: $ui-product-card-footer-align;

			.x-product-card__name {
				font-size: $ui-product-card-font-size-xxs;
				font-weight: $ui-product-card-name-weight;
				line-height: $ui-product-card-line-height;
				margin: $ui-product-card-name-spacing-mobile;

				@include media (">large") {
					font-size: $ui-product-card-font-size-s;
					line-height: $ui-product-card-line-height-s;
					margin: $ui-product-card-name-spacing-desktop;
				}
			}

			.x-product-card__price {
				font-size: $ui-product-card-font-size-xs;
				line-height: $ui-product-card-price-line-height;

				@include media (">large") {
					font-size: $ui-product-card-font-size;
				}			
			}

			.x-product-card__information {
				justify-content: $ui-product-card-information-align;
			}
		}
	}

	.x-carousel__arrows {

		.x-carousel__arrow--prev, .x-carousel__arrow--next {
			@include ui-carousel-arrows-button;
			top: $ui-carousel-arrow-position-mobile;

			@include media (">medium", "<large") {
				top: $ui-carousel-arrow-position-tablet;
			}

			@include media (">=large") {
				top: $ui-carousel-arrow-position-desktop;
			}
			
		}
		
		.x-carousel__arrow--prev {
			left: $ui-carousel-arrow-left-position;
		}
		
		.x-carousel__arrow--next {
			right: $ui-carousel-arrow-right-position;
		}	
	}
}
