/* ==========================================================================
   EXTENSIONS / CATEGORY TREE / CATEGORY TREE
   ========================================================================== */

.x-category-tree {
	margin-bottom: $unit;
	position: relative;
}

.x-category-tree__trigger {
	display: none;
}

.x-category-tree__row {
	list-style: none;
	margin: 0;
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	padding: 0;
	transition: 0.2s ease-in-out;
	visibility: hidden;
	width: 100%;
}

.x-category-tree__trigger:checked ~ .x-category-tree__row,
.x-category-tree__trigger:checked ~ .x-category-tree__row .x-category-tree__row {
	max-height: 100%;
	opacity: 1;
	overflow: visible;
	visibility: visible;
}

.x-category-tree__label {
	background-color: #3D70B2;
	color: #FFFFFF;
	display: block;
	font-style: normal;
	margin: 0;
	min-height: 2em;
	padding: 1em;
	position: relative;

	&:after,
	&:before {
		position: absolute;
		right: 1em;
		transition: 0.4s cubic-bezier(0.2, 0.6, 0.3, 1.1);
	}

	&:after {
		content: $u-icon-chevron-up;
		opacity: 0;
		transform: scale(0);
	}

	&:before {
		content: $u-icon-chevron-down;
		opacity: 1;
		transform: scale(2);
	}
}

.x-category-tree__trigger:checked ~ .x-category-tree__label:after {
	opacity: 1;
	transform: scale(2);
}

.x-category-tree__trigger:checked ~ .x-category-tree__label:before {
	opacity: 0;
	transform: scale(0);
}


.x-category-tree__title {
	display: none;
}

.x-category-tree__link {
	color: #0F0F0F;
	display: block;
	padding: 0.5em 1em;

	&:hover {
		text-decoration: none;
	}
}

.x-category-tree__list--level-2 .x-category-tree__link {
	padding-left: 2em;
}

.x-category-tree__list--level-3 .x-category-tree__link {
	padding-left: 3em;
}

.x-category-tree__link--current {
	font-weight: $font-weight-bold;
}


@include media(">=large") {

	.x-category-tree__label {
		display: none;
	}

	.x-category-tree__title {
		display: block;
	}

	.x-category-tree__heading {
		padding-top: 1.125rem;
	}

	.x-category-tree__row,
	.x-category-tree__trigger:checked ~ .x-category-tree__row,
	.x-category-tree__trigger:checked ~ .x-category-tree__row .x-category-tree__row {
		max-height: 100%;
		opacity: 1;
		visibility: visible;
	}

	.x-category-tree__link:not(.x-category-tree__link--current):hover {
		background-color: #EAEAEA;
		text-decoration: none;
		transition: background-color ease-in 0.3s 0.05s;
	}
}

/**
 * This section contains the necessary styles when using the built-in search
 * faceting ability of Miva. Since the functional code is generated at run-time,
 * these styles do not conform to the tenants used in the rest of the framework.
 */

.mm_facet_rangeslider {
	display: block;
	height: 2em;
	margin: 0.25em;
	position: relative;
}

.mm_facet_rangeslider_input_container_low,
.mm_facet_rangeslider_input_container_high {
	border: 1px solid #C0C0C0;
	height: 2em;
	position: absolute;
	text-align: center;
	top: 0;
	width: 4em;
}

.mm_facet_rangeslider_input_container_low {
	border-radius: $radius-medium 0 0 $radius-medium;
	left: 0;
}

.mm_facet_rangeslider_input_container_high {
	border-radius: 0 $radius-medium $radius-medium 0;
	right: 0;
}

.mm_facet_rangeslider_input_container_low.mm_facet_rangeslider_input_active,
.mm_facet_rangeslider_input_container_high.mm_facet_rangeslider_input_active {
	border-color: #3D70B2;
}

.mm_facet_rangeslider_track_container {
	border-bottom: 1px solid #C0C0C0;
	border-top: 1px solid #C0C0C0;
	box-sizing: border-box;
	height: 2em;
	left: 4em;
	position: absolute;
	right: 4em;
	top: 0;
	-webkit-touch-callout: none;
	user-select: none;
}

.mm_facet_rangeslider_track {
	height: 0.25em;
	left: 0.25em;
	position: absolute;
	right: 0.25em;
	top: 50%;
	transform: translateY(-50%);
}

.mm_facet_rangeslider_track_background,
.mm_facet_rangeslider_track_selection {
	background: #C0C0C0;
	bottom: 0;
	left: 0.5em;
	position: absolute;
	right: 0.5em;
	top: 0;
}

.mm_facet_rangeslider_track_selection {
	background: #3D70B2;
}

.mm_facet_rangeslider_track_handle_low,
.mm_facet_rangeslider_track_handle_high {
	background: #FFFFFF;
	border: 1px solid #C0C0C0;
	border-radius: 50%;
	cursor: pointer;
	height: 2em;
	left: -0.5em;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 2em;
}

.mm_facet_rangeslider.mm_facet_rangeslider_mini {
	height: 6em;
	margin: 0;

	.mm_facet_rangeslider_input_container_low {
		border-radius: $radius-medium 0 0 0;
		width: 50%;

		&.mm_facet_rangeslider_input_active {
			border-color: #EAEAEA;
			box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.15);
		}
	}

	.mm_facet_rangeslider_input_container_high {
		border-left: none;
		border-radius: 0 $radius-medium 0 0;
		width: 50%;

		&.mm_facet_rangeslider_input_active {
			border-color: #EAEAEA;
			box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.15);
		}
	}

	.mm_facet_rangeslider_track_container {
		border: 1px solid #C0C0C0;
		border-radius: 0 0 $radius-medium $radius-medium;
		border-top: none;
		height: 3em;
		left: 0;
		right: 0;
		top: 2em;
	}
}
