/* ==========================================================================
Container Section
========================================================================== */

.x-container {
	// @include callouts;
	position: relative;

	li {
		padding: $unit-small 0;
	}

	// Margins

	&.x-container-mb-xs {
		@include ui-container-mb-spacing-xs;
	}

	&.x-container-mb-s {
		@include ui-container-mb-spacing-s;
	}

	&.x-container-mb-m {
		@include ui-container-mb-spacing-m;
	}

	&.x-container-mb-l {
		@include ui-container-mb-spacing-l;
	}

	// Padding (top and bottom)

	&.x-container-py-xs {
		@include ui-container-py-spacing-xs;
	}

	&.x-container-py-s {
		@include ui-container-py-spacing-s;
	}

	&.x-container-py-m {
		@include ui-container-py-spacing-m;
	}

	&.x-container-py-l {
		@include ui-container-py-spacing-l;
	}

	// Padding (left and right)

	&.x-container-px-xs {
		@include ui-container-px-spacing-xs;
	}

	&.x-container-px-s {
		@include ui-container-px-spacing-s;
	}

	&.x-container-px-m {
		@include ui-container-px-spacing-m;
	}

	&.x-container-px-l {
		@include ui-container-px-spacing-l;
	}
}

.x-container__header {
	margin: 0 0 $unit-large;

	.x-container__header-link {
		font-size: $font-size-small;
		font-weight: $font-weight-bold;
		text-decoration: underline;
		transition: color $transition-time $transition-easing;

		&:hover {
			color: $secondary;
		}
	}
}

.x-container__header-leadin {
	display: block;
	font-size: $font-size-small;
	font-weight: $font-weight-bold;
	margin: 0 0 $spacer-4;
	text-transform: uppercase;
}

.x-container__header-main {
	font-family: $font-family-primary;
	font-size: $h4-size;
	font-weight: $font-weight-semibold;
}

.x-container__copy {
	padding-bottom: $unit;
}
