/* ==========================================================================
   COMPONENTS / CONTROL GROUPS
   ========================================================================== */

/**
 * To group related buttons and/or inputs together, you can use the
 * `.c-control-group` wrapping element. This will bunch the related elements
 * together and remove the spacing between them.
 */

.c-control-group {
	display: flex;

	.c-control-group__label {
		height: $input-height;
		line-height: $input-height;
		margin-bottom: 0;
		padding-right: $unit-small;
	}

	.c-control-group__button,
	.c-control-group__field {
		border-radius: 0;
	}

	.c-control-group__field {
		height: auto;
		margin-bottom: 0;
	}
}

.c-control-group--stacked .c-control-group__button,
.c-control-group--stacked .c-control-group__field {
	flex: 0 0 100%;
	margin-left: 0;
	max-width: 100%;
}

.c-control-group .c-control-group__button:first-child,
.c-control-group .c-control-group__field:first-child {
	border-bottom-left-radius: $control-group-radius;
	border-top-left-radius: $control-group-radius;
}

.c-control-group .c-control-group__button:last-child,
.c-control-group .c-control-group__field:last-child {
	border-bottom-right-radius: $control-group-radius;
	border-top-right-radius: $control-group-radius;
}

/**
 * Adding the `.c-control-group--rounded` modifier will make the first and
 * last related elements rounded.
 */

.c-control-group--rounded .c-control-group__button:first-child,
.c-control-group--rounded .c-control-group__field:first-child {
	border-bottom-left-radius: $control-group-rounded-radius;
	border-top-left-radius: $control-group-rounded-radius;
}

.c-control-group--rounded .c-control-group__field:first-child {
	padding-left: $unit;
}

.c-control-group--rounded .c-control-group__button:last-child,
.c-control-group--rounded .c-control-group__field:last-child {
	border-bottom-right-radius: $control-group-rounded-radius;
	border-top-right-radius: $control-group-rounded-radius;
}

/**
 * Adding the `.c-control-group--rounded-right` modifier will make the last
 * related element rounded.
 */

.c-control-group--rounded-right .c-control-group__button:last-child,
.c-control-group--rounded-right .c-control-group__field:last-child {
	border-bottom-right-radius: $control-group-rounded-radius;
	border-top-right-radius: $control-group-rounded-radius;
}

/**
 * Adding the `.c-control-group--rounded-left` modifier will make the first
 * related element rounded.
 */

.c-control-group--rounded-left .c-control-group__button:first-child,
.c-control-group--rounded-left .c-control-group__field:first-child {
	border-bottom-left-radius: $control-group-rounded-radius;
	border-top-left-radius: $control-group-rounded-radius;
}

.c-control-group--stacked .c-control-group__button:first-child,
.c-control-group--stacked .c-control-group__field:first-child {
	border-radius: $btn-radius $btn-radius 0 0;
}

.c-control-group--stacked .c-control-group__button:last-child,
.c-control-group--stacked .c-control-group__field:last-child {
	border-radius: 0 0 $btn-radius $btn-radius;
}

/**
 * Adding the `.c-control-group--stacked` modifier will turn the related
 * elements into a vertical element.
 */

.c-control-group--stacked .c-control-group__button:not(:first-child):not(:first-of-type),
.c-control-group--stacked .c-control-group__field:not(:first-child):not(:first-of-type) {
	border-left-width: 1px;
	border-top: 0;
}

.c-control-group--stacked {
	flex-wrap: wrap;
}

.c-control-group .c-control-group__button:not(:first-child):not(:first-of-type),
.c-control-group .c-control-group__field:not(:first-child):not(:first-of-type) {
	border-left-width: 0;
}

.c-control-group--stacked .c-control-group__button:not(:first-child):not(:last-child):not(:first-of-type):not(:last-of-type),
.c-control-group--stacked .c-control-group__field:not(:first-child):not(:last-child):not(:first-of-type):not(:last-of-type) {
	border-radius: 0;
}