/* ==========================================================================
   COMPONENTS / DIVIDER
   ========================================================================== */

/**
 * Divider component to provide more prominent horizontal rules between other
 * elements.
 *
 * The default Divider and it's `--top` modifier are intended for use on
 * horizontal rules.
 * e.g. `<hr class="c-divider">`
 *
 * 1. Set a transparent border on the relevant edge to prevent element collapse.
 * 2. Reduce the `margin-bottom` by the same width as the divider in order to
 *    keep on our baseline grid.
 */

.c-divider {
	border: solid transparent;
	border-width: 0 0 1px; /* 1 */
	margin-bottom: rem-calc( 15 ); /* 2 */
	position: relative;

	&:before,
	&:after {
		content: "";
		display: block;
		position: absolute;
		width: 100%;
	}

	/* Divider gradient border. */

	&:before {
		background: linear-gradient(to right, rgba(191, 191, 191, 0), rgb(192, 192, 192), rgba(191, 191, 191, 0));
		bottom: 0;
		height: 1px;
	}

	/* Divider shadow. */

	&:after {
		background: radial-gradient(at 50% 0, rgba(74, 74, 74, 0.15), transparent 40%);
		height: $unit-small;
		top: 100%;
	}
}

/**
 * Top divider
 */

.c-divider--top {
	border-width: 1px 0 0;

	&:before {
		background: linear-gradient(to right, rgba(191, 191, 191, 0), rgb(192, 192, 192), rgba(191, 191, 191, 0));
		bottom: 100%;
	}

	&:after {
		background: radial-gradient(at 50% 100%, rgba(74, 74, 74, 0.15), transparent 40%);
		top: rem-calc( 9 ) * -1;
	}
}