/* ==========================================================================
   EXTENSIONS / FACETS / FACETS
   ========================================================================== */

.x-facet-set__trigger {
	display: none;
}

.x-facet-set__label {
	align-items: center;
	cursor: pointer;
	display: flex;
	font-size: 0.875rem;
	font-weight: $font-weight-semibold;
	justify-content: space-between;
	padding-bottom: 0.5em;
	text-transform: uppercase;

	&:after {
		content: "+";
		display: inline-block;
		font-size: 1rem;
		line-height: 1;
	}
}

.x-facet-set__list {
	display: block;
	max-height: 0;
	opacity: 0;
	transition-delay: 0.15s, 0s, 0s;
	visibility: hidden;
}

.x-facet-set__trigger:checked ~ .x-facet-set__label:after {
	content: "-";
}

.x-facet-set__trigger:checked ~ .x-facet-set__list {
	display: block;
	max-height: 50em;
	opacity: 1;
	overflow: hidden;
	transition: visibility 0s ease, max-height 0.3s ease, opacity 0.3s ease;
	transition-delay: 0s;
	visibility: visible;
}
