/* ==========================================================================
Header Section
========================================================================== */

.x-header {
	padding: $ui-header-spacer * 3;
}

.x-header__leadin {
	@include ui-leadin-text;
}

.x-header__main {
	@include ui-main-text;
	font-size: $ui-header-main-font-size;
	@include media( ">=large") {
		font-size: $ui-header-main-font-size-l;
	}
}

.x-header__copy {
	margin: 0 auto;
	max-width: $ui-header-copy-wrap;
	padding-top: $ui-header-spacer;
	
	@include media ( ">=xlarge") {
		padding-top: $ui-header-spacer-l;
	}
}

.x-header__link {
	font-size: $ui-header-link-font-size;
	font-weight: $ui-header-link-font-weight;
	margin-top: $ui-header-spacer-l;
}
