/* ==========================================================================
Hero
========================================================================== */

.x-hero {
	flex: 1;
	flex-wrap: wrap;
	position: relative;
	z-index: 1;

	@include media( "<xlarge" ) {
		flex-direction: column;
		flex-wrap: nowrap;
	}

	.x-hero__header {
		background-color: $transparent;
		margin: 0;
		order: 2;
		padding: $ui-hero-spacer-m;
		z-index: $layers-2;
		
		@include media( ">=medium") {
			padding: $ui-hero-spacer-m * 2;
		}
		
		@include media ( ">=xlarge" ) {
			flex: 1 0 auto;
			line-height: 1;
			max-width: 45%;
			padding: $ui-hero-spacer * 6;
		}
	}
	
	.x-hero__header__leadin {
		@include ui-leadin-text;
		display: block;
	}
	
	.x-hero__header__main {
		@include ui-main-text;
		font-family: $font-family-primary;
		font-size: $ui-hero-main-font-size;
		font-weight: $font-weight-bold;
		
		@include media( ">=xlarge" ) {
			font-size: $ui-hero-main-font-size-l;
		}
	}
	
	.x-hero__copy {
		line-height: 1.5;
		padding-top: $ui-hero-spacer;
	
		@include media ( ">=xlarge") {
			padding-top: $ui-hero-spacer-m;
		}
	}

	.x-hero__caption {
		display: none;
		@include media( ">=medium" ) {
			display: block;
			min-width: $ui-hero-caption-width;

			.c-button {
				padding-top: $ui-hero-caption-button-spacing;
			}
		}
	}

	.x-hero__link {
		margin-top: $ui-hero-spacer-l;
	}
	
	.x-hero__alt-link {
		padding: $ui-hero-spacer;
		z-index: $layers-3;
	
		@include media ( ">=xlarge") {
			padding: $ui-hero-spacer * 2;
		}
	}

	.x-hero__alt-link-subheader {
		font-weight: $ui-hero-altlink-subheader-font-weight;
	}

	.x-hero__figure {
		order: 1;
		padding: 0;
		position: relative;
		z-index: $layers-1;

		@include media ( ">=xlarge" ) {
			
			flex: 4 1 auto;

			&.x-hero__figure--full {
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
			}
		}
	}

	.x-hero__image {
		background-position: $ui-hero-image-bg-position;
		background-size: cover;
		height: auto;
		padding-bottom: map-get( $embed-ratios, "4by3" );
		width: 100%;
		@include media( ">=xlarge" ) {
			height: 100%;
			padding: 0;
		}
	}
	
	// Header Positioning | Center

	&.o-layout--justify-center {
		@include media ( ">=medium" ) {

			.x-hero__figure {
				display: none;
			}
		}
	}

	// Header Positioning | Left

	&.o-layout--justify-start {
		@include media ( ">=xlarge" ) {

			.x-hero__header {
				order: 1;
			}
		}
	}

	// Header Positioning | Right

	&.o-layout--justify-end {
		@include media ( ">=xlarge" ) {

			.x-hero__header {
				order: 2;
			}
		}
	}

	// Opacity

	.u-overlay {
		z-index: $layers-2;
	}
}
