/* ==========================================================================
   COMPONENTS / KEYLINE
   ========================================================================== */

/**
 * Simple keyline component to provide horizontal rules between other elements.
 * e.g. `<hr class="c-keyline">`
 *
 * 1. Reduce the `margin-bottom` by the same width as the keyline in order to
 *    keep on our baseline grid.
 */

.c-keyline {
	border: none;
	border-bottom: $keyline-border;
	margin-bottom: rem-calc( 15 ); /* [1] */
}

/**
 * Heavier keylines.
 */

.c-keyline--thick {
	border-bottom-width: 2px;
	margin-bottom: rem-calc( 15 ); /* [1] */
}

/**
 * Smaller gaps underneath keylines.
 */

.c-keyline--small {
	margin-bottom: rem-calc( 6 ); /* [1] */

	/* Adjust smaller gaps underneath thicker keylines. */

	&.c-keyline--thick {
		margin-bottom: rem-calc( 5 ); /* [1] */
	}
}