/* ==========================================================================
Media Section (Video/Image Columns)
========================================================================== */

.x-media {

	&:hover {

		.c-button {
			background-color: $primary;

			&.u-color-primary {
				color: $white;
			}
		}
	}
}

.x-media__figure {
	margin: 0;
}

.x-media__image {
	width: 100%;
}

.x-media__caption {
	padding: ($unit * 1.25) 0;
}