/* ==========================================================================
   COMPONENTS / MENU
   ========================================================================== */

.c-menu__title {
	font-weight: $font-weight-bold;
}

.c-menu__list {
	line-height: 2;
	list-style: none;
	margin-bottom: 0;
	margin-left: 0;
}

.c-menu__link {
	color: currentColor;
	display: block;
}

.c-collapsible-menu__trigger {
	display: none;
}

@include media(">=medium") {

	.c-menu__link {
		display: inline-block;
	}

}

@include media("<medium") {

	.c-collapsible-menu__label {
		align-items: center;
		display: flex;
		font-weight: $font-weight-bold;
		justify-content: space-between;

		&:after {
			content: "+";
			display: inline-block;
			font-size: 1rem;
			line-height: 1;
		}
	}

	.c-collapsible-menu .c-menu__title {
		display: none;
	}

	.c-collapsible-menu .c-menu__list {
		display: block;
		max-height: 0;
		opacity: 0;
		transition-delay: 0.15s, 0s, 0s;
		visibility: hidden;
	}

	.c-collapsible-menu__trigger:checked ~ .c-collapsible-menu__label:after {
		content: "-";
	}

	.c-collapsible-menu__trigger:checked ~ .c-menu__list {
		display: block;
		margin-bottom: 1em;
		margin-top: 0;
		max-height: 25em;
		opacity: 1;
		overflow: hidden;
		transition: visibility 0s ease, max-height 0.3s ease, opacity 0.3s ease;
		transition-delay: 0s;
		visibility: visible;
	}
}

@include media(">=medium") {

	.c-collapsible-menu__label {
		display: none;
	}

}
