/* ==========================================================================
   COMPONENTS / MINI-MODAL
   ========================================================================== */

.has-active-mini-modal {
	overflow: hidden;
}

.c-mini-modal {
	bottom: 0;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: all ease 300ms;
	width: 100%;
	z-index: 500;
}

.c-mini-modal--active {
	opacity: 1;
}

.c-mini-modal__overlay {
	background-color: rgba(0, 0, 0, 0.9);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.c-mini-modal__viewport {
	height: 100%;
	pointer-events: none;
	position: relative;
}

.c-mini-modal__item {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transition: all ease 300ms;
	width: 100%;
}

.c-mini-modal__item--added,
.c-mini-modal__item--removed {
	opacity: 0;
}

.c-mini-modal__item--added--previous,
.c-mini-modal__item--removed--next {
	transform: translateX(-100%);
}

.c-mini-modal__item--added--next,
.c-mini-modal__item--removed--previous {
	transform: translateX(100%);
}

.c-mini-modal__status {
	color: #FFFFFF;
	left: 50%;
	opacity: 0;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: all ease 300ms;
}

.c-mini-modal__item--loading .c-mini-modal__status {
	opacity: 1;
}

.c-mini-modal__content {
	height: 100%;
	opacity: 0;
	transform: scale(0.5);
	transition: all ease 300ms;
}

.c-mini-modal__item--loaded .c-mini-modal__content {
	opacity: 1;
	transform: none;
}

.c-mini-modal__item--removed--previous .c-mini-modal__content,
.c-mini-modal__item--removed--next .c-mini-modal__content {
	transform: scale(0.5);
}

.c-mini-modal__element {
	display: block;
	margin: auto;
	max-height: 75vh;
	max-width: 85vw;
	pointer-events: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.c-mini-modal__element--iframe,
.c-mini-modal__element--map {
	background-color: #FFFFFF;
}

.c-mini-modal__element--iframe,
.c-mini-modal__iframe {
	height: 100%;
	width: 100%;
}

.c-mini-modal__element--video {
	max-width: (100vh * (16 / 9));

	&:before {
		background-color: #000;
		content: "";
		display: block;
		padding-bottom: 56.25%;
	}
}

.c-mini-modal__element-subject {
	margin: auto;
	overflow: hidden;
	padding: 2rem 2rem 1rem;
}

.c-mini-modal__video {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.c-mini-modal__caption {
	bottom: 0;
	color: #FFFFFF;
	left: 0;
	padding: 1em;
	pointer-events: auto;
	position: absolute;
	right: 0;
}

.c-mini-modal__close,
.c-mini-modal__nav {
	appearance: none;
	border: 0 none;
	cursor: pointer;
	display: inline-block;
	font-family: monospace;
	font-size: 3rem;
	font-weight: $font-weight-normal;
	height: 1em;
	line-height: 1;
	margin: 0;
	padding: 0;
	position: absolute;
	text-align: center;
	text-decoration: none;
	user-select: none;
	width: 1em;
}

.c-mini-modal__close {
	background-color: rgba(0, 0, 0, 0);
	color: #FFFFFF;
	right: 0.5rem;
	top: 0.5rem;

	&:hover,
	&:active,
	&:focus {
		outline: none;
		text-decoration: none;
	}
}

.c-mini-modal__nav {
	background-color: #FFFFFF;
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);

	&:hover,
	&:active,
	&:focus {
		outline: none;
		text-decoration: none;
	}
}

.c-mini-modal__nav--previous {
	left: 0.5rem;
}

.c-mini-modal__nav--next {
	right: 0.5rem;
}
