/* ==========================================================================
   COMPONENTS / NAVIGATION
   ========================================================================== */

.c-navigation {
	position: relative;
}

.c-navigation__trigger {
	display: none;
}

.c-navigation__row {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.c-navigation__trigger:checked ~ .c-navigation__row,
.c-navigation__trigger:checked ~ .c-navigation__row .c-navigation__row {
	display: block;
}

.c-navigation__label {
	background-color: #9F9F9F;
	color: #FFF;
	display: block;
	font-style: normal;
	margin: 0;
	min-height: 2em;
	padding: 1em;
	position: relative;

	&:after,
	&:before {
		font-family: $font-family-icons;
		position: absolute;
		right: 1em;
		transition: 0.4s cubic-bezier(0.2, 0.6, 0.3, 1.1);
	}

	&:after {
		content: $u-icon-cross;
		opacity: 0;
		transform: scale(0);
	}

	&:before {
		content: $u-icon-menu;
		opacity: 1;
		transform: scale(2);
	}
}

.c-navigation__trigger:checked ~ .c-navigation__label:after {
	opacity: 1;
	transform: scale(2);
}

.c-navigation__trigger:checked ~ .c-navigation__label:before {
	opacity: 0;
	transform: scale(0);
}

.c-navigation__link {
	background-color: #FFF;
	color: #0F0F0F;
	display: block;
	padding: 0.5em 0;

	&:hover {
		box-shadow: 0 2px 0 -1px #0F0F0F;
		text-decoration: none;
		transition: box-shadow ease-in 0.2s;
	}
}

.c-navigation__row:nth-child(2) .c-navigation__link {
	padding-left: 2em;
}

.c-navigation__row:nth-child(2) .c-navigation__row:last-of-type .c-navigation__link {
	padding-left: 3em;
}


@include media(">=medium") {

	.c-navigation__label {
		display: none;
	}

	.c-navigation__row{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.c-navigation__list .c-navigation__row {
		display: none;
		min-width: 100%;
		position: absolute;
		white-space: nowrap;
		z-index: 100;
	}

	.c-navigation__list:hover > .c-navigation__row {
		box-shadow: 1px 1px 0.25em 0 #0F0F0F;
		display: table;
	}

	.c-navigation__trigger:checked ~ .c-navigation__row,
	.c-navigation__trigger:checked ~ .c-navigation__row .c-navigation__row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.c-navigation__list {
		flex: 1 1 auto;
		position: relative;
		text-align: center;
	}

	.c-navigation__row:nth-child(2) .c-navigation__list {
		text-align: left;
	}

	.c-navigation__row:nth-child(2) .c-navigation__row:last-of-type {
		left: 100%;
		top: 0;
		z-index: 200;
	}

	.c-navigation__link {
		border-right: 0 solid #0F0F0F; /* Change to 1px to add a right-border */
	}

	.c-navigation__row:nth-child(2) .c-navigation__link{
		padding-left: 1em;
	}

	.c-navigation__list:last-of-type .c-navigation__link,
	.c-navigation__row:nth-child(2) .c-navigation__list .c-navigation__link {
		border-right: 0;
	}

	.c-navigation__row:nth-child(2) .c-navigation__link:hover {
		background-color: #EAEAEA;
		box-shadow: none;
		transition: background-color ease-in 0.2s;
	}

	.c-navigation__row:nth-child(2) .c-navigation__row:last-of-type .c-navigation__link {
		padding-left: 1em;
	}
}
