/* ==========================================================================
   EXTENSIONS / PAGINATION
   ========================================================================== */

/**
 * Pagination is for use in product list as well as any place a pageable batch
 * list or data is used.
 */

.x-pagination {
	align-items: center;
	display: flex;
	margin: 0;
	max-width: 19rem;
}

.x-pagination--centered {
	margin: auto;
}

.x-pagination--right {
	margin-left: auto;
}