/* ==========================================================================
   EXTENSIONS / PRODUCT LISTS / PRODUCT LISTS
   ========================================================================== */

/**
 * Product lists are used in many spots throughout the store. They can be found
 * on the storefront as featured product, the related products section of a
 * product page, as an auto-suggest feature during checkout, or wherever.
 */

.x-product-list {
	margin-bottom: $unit;
}

.x-product-list__heading {
	margin-bottom: 2em;
}

.x-product-list__item {
	margin-bottom: $unit;
}

.x-product-list__link {
	color: #0F0F0F;
	transition: ease-in-out 0.3s;

	&:hover {
		color: #9F9F9F;
		text-decoration: none;
	}
}

.x-product-list__figure {
	margin: 0;
}

.x-product-list__image,
.x-product-list__name,
.x-product-list__price {
	display: block;
}

.x-product-list__image {
	margin-bottom: $unit;
}

.x-product-list__price {
	font-size: 0.875rem;
}

.x-product-list__action {
	padding-top: $unit;
}

/**
* If you are creating a product carousel, add this class to the element.
*/

.x-product-list--carousel .x-product-list__item {
	margin-bottom: 0;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}