.x-flag__error,
.x-flag__primary,
.x-flag__secondary,
.x-flag__tertiary,
.x-flag__warning {
	border-radius: 1rem;
	opacity: 0.8;
	padding: 0.25rem;
}

.x-flag__br-none {
	border-radius: 0;
}

.x-flag__br-none-top-left {
	border-top-left-radius: 0;
}

.x-flag__br-none-top-right {
	border-top-right-radius: 0;
}

.x-flag__br-none-bottom-left {
	border-bottom-left-radius: 0;
}

.x-flag__br-none-bottom-right {
	border-bottom-right-radius: 0;
}

.x-flag__error {
	background-color: $message-error-color;
}

.x-flag__primary {
	background-color: $flag-primary-color;
}

.x-flag__secondary {
	background-color: $flag-secondary-color;
}

.x-flag__tertiary {
	background-color: $flag-tertiary-color;
}

.x-flag__warning {
	background-color: $message-warning-color;
}

.x-card-messages {
	color: $message-font-color;
	display: none;
	opacity: 0.8;
	position: absolute;
	width: 100%;
}

.x-card-messages__bottom {
	bottom: 0;
}

.x-card-message__error,
.x-card-message__info,
.x-card-message__neutral,
.x-card-message__success,
.x-card-message__warning {
	display: block;
}

.x-card-message__error {
	background-color: $message-error-color;
}

.x-card-message__info {
	background-color: $message-info-color;
}

.x-card-message__neutral {
	background-color: $message-neutral-color;
}

.x-card-message__success {
	background-color: $message-success-color;
}

.x-card-message__warning {
	background-color: $message-warning-color;
}

.x-product-card {
	border: $card-border;
	margin: 0.5rem;
	margin: 1rem auto;
	max-width: 360px;
	padding: 0.5rem 0 0 0;
	position: relative;

	&.x-product-card__shadow-on {
		-webkit-box-shadow: $box-shadow;
		box-shadow: $box-shadow;
	}

	&.x-product-card__hoverable:hover {
		-webkit-box-shadow: $box-shadow;
		box-shadow: $box-shadow;
		transition: all 0.34s cubic-bezier(0.52, 0.01, 0.16, 1);

		a:hover {
			text-decoration: none;
		}
	}

}

.x-product-card__brand {
	color: #B1B1B1;
}

.x-product-card__footer {
	padding: 0 0.5rem;
	text-align: left;
}

.x-product-card__header {
	color: $message-font-color;
	display: flex;
	flex-wrap: nowrap;
	position: absolute;
	width: 100%;

	p {
		flex-basis: 33.33%;
		margin: 0.5rem;
	}
}

.x-product-card__header-bottom {
	bottom: 0rem;
}

.x-product-card__header-bottom-has-message {
	bottom: 2rem;
}

.x-product-card__image {
	text-align: center;
}

.x-product-card__information {
	display: flex;
	justify-content: space-between;
}

.x-product-card__name {
	color: $main-text-color;
	font-weight: $font-weight-semibold;
	margin: $spacer-3 0 0 0;
}

.x-product-card__rating {
	color: $rating-color;
	margin: auto 0;
	position: absolute;

	&.rating-footer-bottom-right {
		bottom: 1rem;
		right: 0.5rem;
	}

	&.rating-footer-top-right {
		bottom: 4.35rem;
		right: 0.5rem;
	}

	&.rating-header-top-right {
		right: 0.25rem;
		top: 0rem;
	}

	img {
		max-width: 1rem;
	}
}

@media ( min-width: 41.1875rem ) {

	.x-product-card {
		flex-basis: 45%;
	}
}
