/* ==========================================================================
   EXTENSIONS / PRODUCT LAYOUT / PRODUCT LAYOUT
   ========================================================================== */

/**
 * This is the default product layout for the product page.
 */

.x-product-layout-images {
	margin-left: 0;
	margin-right: 0;
}

.x-product-layout-images__image {
	display: inline-block;
	margin-bottom: $unit-medium;
}

.x-product-layout-images__thumbnail-image {
	cursor: pointer;
	margin-bottom: $unit;
}

.x-product-layout-purchase__pricing-original {
	padding-right: $unit-medium;
}

.x-product-layout-purchase__options-attribute {
	margin-bottom: $unit-small;

	.c-form-label {
		font-size: 0.875rem;
	}
}