/* ==========================================================================
Promo Grid (Generic)
========================================================================== */

.x-promo-grid__item {
	margin-bottom: $ui-promo-grid-spacer-m;

	@include media( ">=medium" ) {
		margin: $ui-promo-grid-spacer 0;
	}

	@include media (">=medium","<large") {
		padding-left: $ui-promo-grid-spacer-xs;
		padding-right: $ui-promo-grid-spacer-xs;
	}

	@include media( ">=large" ) {
		//normalize on desktop for even spacing in grid
		margin-bottom: 0;
		margin-top: 0;
		padding-left: $ui-promo-grid-spacer;
		padding-right: $ui-promo-grid-spacer;
	}
}


/* ==========================================================================
Promo Grid (1+2)
========================================================================== */

.x-layout--1plus2 {
	column-gap: 1%;
	display: grid;
	grid-template-areas: "large smalltop" "large smallbottom";
	grid-template-columns: 66% 33%;
	grid-template-rows: 49% 49%;
	row-gap: 2%;
	width: 100%;

	@include media( "<=medium" ) {
		display: flex;
		flex-wrap: wrap;
	}

	img {
		width: 100%;
	}

	&.x-layout--reverse {
		direction: rtl;

		.x-promo-grid__item {
			direction: ltr;
		}

		.x-promo-image__header {
			left: auto;
			right: $ui-promo-grid-spacer-l;
		}

	}

	.x-promo-grid__item {
		align-items: stretch;
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		justify-content: flex-start;
	}

	.x-promo-grid__large {
		grid-area: large;
		margin-top: 0;

		@include media( "<=medium" ) {
			width: 100%;
		}

	}

	.x-promo-image__link {
		margin-top: $ui-promo-grid-spacer-m;

		@include media( ">=medium" ) {
			margin-top: $ui-promo-grid-spacer;
		}

		@include media( ">=large" ) {
			margin-top: $ui-promo-grid-spacer-m;
		}
	}

	.x-promo-grid__smalltop,
	.x-promo-grid__smallbot {
		flex: 1 1 50%;

		@include media( "<=small" ) {
			flex: 1 1 auto;
		}

	}

	.x-promo-grid__smalltop {
		grid-area: smalltop;
		margin-top: 0;

		@include media(">=medium", "<large"){
			padding-right: $ui-promo-grid-spacer-s;
		}

		//normalize on desktop for even spacing in grid
		@include media( ">=large" ) {
			margin: 0;
			padding: 0;
		}
	}

	.x-promo-grid__smallbot {
		grid-area: smallbottom;
		margin-top: 0;

		@include media(">=medium", "<large"){
			padding-right: $ui-promo-grid-spacer-s;
		}

		//normalize on desktop for even spacing in grid
		@include media( ">=large" ) {
			margin: 0;
			padding: 0;
		}
	}

	.x-promo-small__main {
		font-size: $ui-promo-grid-small-main-font-size;
		margin-bottom: 0;
		padding-top: $ui-promo-grid-spacer-s;
	}

	.x-promo-small__link {
		font-size: $ui-promo-grid-small-link-font-size;
		padding-top: $ui-promo-grid-spacer-s;
		text-decoration: underline;
	}

	.x-promo-grid__large .x-promo-image {
		margin-bottom: 0;
	}
}


/* ==========================================================================
Promo Image (in Promo Grid)
========================================================================== */

.x-promo-image {
	position: relative;
}

.x-promo-image__header {
	background: $white;
	bottom: $ui-promo-grid-spacer-l;
	left: $ui-promo-grid-spacer-l;
	padding-bottom: $ui-promo-grid-spacer-m;
	padding-top: $ui-promo-grid-spacer;
	position: absolute;

	@include media( ">=medium" ){
		max-width: $ui-promo-grid-image-header-width;
		padding: $ui-promo-grid-spacer-xl;
	}
}

@include media( "<medium" ) {

	.x-promo-image__header {
		position: static;
	}
}

.x-promo-image__leadin {
	@include ui-leadin-text;
}

.x-promo-image__main {
	@include ui-main-text;
	font-size: $ui-promo-grid-image-main-font-size;

	@include media( ">=xlarge" ) {
		font-size: $ui-promo-grid-image-main-font-size-xl;
	}
}

.x-promo-image__copy {
	padding-top: $ui-promo-grid-spacer;

	@include media( ">=xlarge") {
		padding-top: $ui-promo-grid-spacer-l;
	}
}

.x-promo-grid__main {
	@include ui-main-text;
	font-size: $ui-promo-grid-main-font-size;
	padding-top: $ui-promo-grid-spacer;

	@include media( ">=medium") {
		padding-top: $ui-promo-grid-spacer-m;
	}

	@include media( ">=xlarge" ) {
		font-size: $ui-promo-grid-main-font-size-xl;
	}

}

.x-promo-grid__copy {
	font-size: $ui-promo-grid-copy-font-size;
	padding-top: $ui-promo-grid-spacer-xs;
}

.x-promo-grid__link {
	margin-top: $ui-promo-grid-spacer-m;
	text-decoration: underline;

	@include media( ">=medium" ) {
		margin-top: $ui-promo-grid-spacer;
	}

	@include media( ">=large" ) {
		margin-top: $ui-promo-grid-spacer-m;
	}

}

.x-promo-grid--text {
	font-size: $ui-promo-grid-text-font-size;

	@include media( ">=medium" ) {
		font-size: $ui-promo-grid-text-font-size-m;
	}
}
