/* ==========================================================================
Promo Banner
========================================================================== */

.x-promo__banner {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: ($unit * 0.875);
	font-weight: $font-weight-semibold;
	margin: 0;
	position: relative;

	.x-promo__caption {
		left: 0;
		line-height: 1.25;
		margin: 0 auto;
		padding: $unit;
		text-align: center;
		z-index: 1;

		@include media( "<medium") {
			flex-direction: column;
		}

		@include media( ">=large") {
			font-size: ($unit * 1.125);
		}
	}

	.x-promo__copy {

		@include media( ">=medium") {
			margin-bottom: 0;
			margin-right: $unit-large;
		}
	}

	.x-promo__link-cta {
		font-size: ($unit * 0.75);
		@include media( ">=large") {
			font-size: ($unit * 0.8125);
			position: relative;
		}
	}
}
