/* ==========================================================================
   EXTENSIONS / SUBSCRIPTIONS / SUBSCRIPTIONS
   ========================================================================== */

/**
 * When using the subscription function of Miva, this is the default styling
 * used for the date picker. You can update the styles in your theme file if
 * you are looking to make changes.
 */

.c-miva_datepicker {
	position: relative;
}

.miva_datepicker {
	background: $white;
	border: 1px solid $gray-3;
	display: none;
	padding: $unit;
	position: absolute;
	right: -1px;
	top: 100%;
	z-index: $layers-max;
}

.miva_datepicker_calendar_container {
	display: inline-block;
	position: relative;
	-webkit-touch-callout: none;
	user-select: none;
	vertical-align: top;
	width: 214px;
}

.miva_datepicker_calendar_month_selector {
	align-items: center;
	background: $gray-4;
	display: flex;
	position: relative;
}

.miva_datepicker_calendar_month_selector_next,
.miva_datepicker_calendar_month_selector_prev {
	background: 0 -35px no-repeat;
	cursor: pointer;
	height: 35px;
	width: 35px;
}

.miva_datepicker_calendar_month_selector_next:hover,
.miva_datepicker_calendar_month_selector_prev:hover {
	background-color: $gray-5;
}

.miva_datepicker_calendar_month_selector_title {
	color: $white;
	flex-grow: 1;
	text-align: center;
}

.miva_datepicker_calendar_month_selector_title_month {
	display: inline-block;
}

.miva_datepicker_calendar_month_selector_title_year {
	display: inline-block;
	margin-left: 0.25em;
}

.miva_datepicker_cancel {
	display: inline-block;
	margin-top: 0.75em;
}

.miva_datepicker_calendar_weekday_container {
	height: 34px;
	margin: 2px;
	position: relative;
}

.miva_datepicker_calendar_weekday_title {
	display: inline-block;
	font-weight: $font-weight-bold;
	padding: 3px 0;
	position: absolute;
	text-align: center;
	width: 28px;
}

#miva_datepicker_calendar_week_container {
	margin: 2px;
	position: relative;
}

.miva_datepicker_calendar_week {
	display: block;
	height: 30px;
	position: relative;
}

.miva_datepicker_calendar_day {
	align-items: center;
	border: 1px solid $gray-3;
	bottom: 1px;
	cursor: pointer;
	display: inline-flex;
	font-size: 0.75em;
	justify-content: center;
	position: absolute;
	top: 1px;
	width: 26px;

	&:hover {
		background: $gray-4;
		border-color: $gray-5;
		color: $white;
	}
}

.miva_datepicker_calendar_day_noselect,
.miva_datepicker_calendar_day_noselect:hover {
	background: #C0C0C0;
	border-color: $gray-5;
	color: $gray-5;
}

.miva_datepicker_calendar_day_current {
	border-color: $gray-5;
	color: $white;
	font-weight: $font-weight-bold;

	&:hover {
		background: $gray-5;
		color: $white;
	}
}

.miva_datepicker_calendar_day_active {
	background: $gray-5;
	border-color: $gray-4;
	color: $white;
	font-weight: $font-weight-bold;
}

.miva_datepicker_calendar_day_0 {
	left: 1px;
}

.miva_datepicker_calendar_day_1 {
	left: 31px;
}

.miva_datepicker_calendar_day_2 {
	left: 61px;
}

.miva_datepicker_calendar_day_3 {
	left: 91px;
}

.miva_datepicker_calendar_day_4 {
	left: 121px;
}

.miva_datepicker_calendar_day_5 {
	left: 151px;
}

.miva_datepicker_calendar_day_6 {
	left: 181px;
}
