/* ==========================================================================
   COMPONENTS / TABLES
   ========================================================================== */

/**
 * The simple table offers easy to read data with a horizontal divider between
 * rows at the expense of occupying more space.
 */

.c-table-simple {
	border-collapse: collapse;
}

.c-table-simple__row {
	border-bottom: $table-border;
}

.c-table-simple__cell {
	padding: $table-cell-padding;
	text-align: left;
	vertical-align: top;
}

.c-table-simple__cell--large {
	padding: $table-cell-padding-large;
}

.c-table-simple__cell--xlarge {
	padding: $table-cell-padding-xlarge;
}

/**
 * The stripped table offers easy to read data with alternating background rows.
 */

.c-table-stripped {
	border-collapse: collapse;
}

.c-table-stripped__row:not(:nth-child(even)) {
	background-color: $table-stripe-color;
}

/**
 * This is a basic, responsive table set-up. It does require using a `data-label`
 * attribute if you would like to show the row titles.
 */

.c-table-responsive_thead {
	display: none;
}

.c-table-responsive__row {
	border-bottom: $table-border;
	margin-bottom: $table-row-padding;
}

.c-table-responsive__cell {
	padding-bottom: $table-cell-padding;

	&:before {
		content: attr(data-label);
		display: block;
		font-weight: $font-weight-bold;
		text-align: left;
	}
}

.c-table-responsive__cell--flex {
	display: flex;
	justify-content: space-between;
}

.c-table-responsive {
	border-collapse: collapse;
	display: table;
	width: 100%;

	.c-table-responsive__row {
		display: block;
	}

	.c-table-responsive__cell {
		display: block;
	}
}

@include media("screen", ">=medium") {

	.c-table-responsive_thead {
		display: table-header-group;
	}

	.c-table-responsive__row {
		margin-bottom: 0;
	}

	.c-table-responsive__cell {
		padding: $unit-small;
		text-align: left;

		&:before {
			display: none;
		}
	}

	.c-table-responsive {

		.c-table-responsive__row {
			display: table-row;
		}

		.c-table-responsive__cell {
			display: table-cell;
			vertical-align: top;
		}

	}

	.c-table-responsive__cell--standard {
		padding: $table-cell-padding-large;
	}

	.c-table-responsive__cell--wide {
		padding: $table-cell-padding-xlarge;
	}
}