/* ==========================================================================
   COMPONENTS / TYPOGRAPHY
   ========================================================================== */

/**
 * In order to divorce our semantic decisions from our stylistic ones, we only
 * define opinionated typographical styles against classes, NOT against
 * typographic HTML elements.
 *
 * Further reading:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/
 */

/* Headings
  =========================================== */

// TODO: Normalize & consolidate from "style" to "size". Also, use REM

.c-heading-style-1,
.c-heading-size-1 {
	@include type-heading(
		$font-size: $h1-size
	);
}

.c-heading-style-2,
.c-heading-size-2 {
	@include type-heading(
		$font-size: $h2-size
	);
}

.c-heading-style-3,
.c-heading-size-3 {
	@include type-heading(
		$font-size: $h3-size
	);
}

.c-heading-style-4,
.c-heading-size-4 {
	@include type-heading(
		$font-size: $h4-size
	);
}

.c-heading-style-5,
.c-heading-size-5 {
	@include type-heading(
		$font-size: $h5-size
	);
}

.c-heading-style-6,
.c-heading-size-6 {
	@include type-heading(
		$font-size: $h6-size
	);
}

/* Subheading
  =========================================== */

.c-heading--subheading {
	color: #575A5D;
	font-size: 0.6em;
	font-weight: $font-weight-normal;
}

/* Keyline
  =========================================== */

.c-heading--keyline {
	display: inline-block;
	margin-bottom: 1em;
	position: relative;

	&:after {
		background-color: #C0C0C0;
		content: "";
		display: block;
		height: $unit-xxsmall;
		left: 50%;
		position: absolute;
		transform: translate(-50%, 0.5em);
		width: 25%;
	}
}

/* Body Text
  =========================================== */

.c-text-body {
	font-size: $font-size;
}
