/* ==========================================================================
   EXTENSIONS / TABS / FLEX-TABS
   ========================================================================== */

@import "variables";

/**
 * This extension allows for creating tabbed content which converts to an
 * accordion layout on smaller devices/screens.
 */

.x-flex-tabs {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1rem;
}

input[ data-flex-tab ] {
	display: none;
	visibility: hidden;
}

.x-flex-tabs__tab {
	border-bottom: 0.125rem solid transparent;
	cursor: pointer;
	width: 100%;
}

@include media(">=large") {

	.x-flex-tabs:not(.x-flex-tabs--accordion) .x-flex-tabs__tab {
		/* shift all tabs to appear before content */
		order: -1;
		/* let tabs scale to fit multiple on each row */
		width: auto;

		&:not(:first-of-type) {
			margin-left: 2em;
		}
	}

}

.x-flex-tabs__content {
	height: 0;
	opacity: 0;
	overflow: hidden;
	transform: scaleY(0);
	transform-origin: top;
	transition: opacity 0.3s ease-out;
	width: 100%;
}

input[ data-flex-tab ]:checked + .x-flex-tabs__tab {
	border-color: currentColor;
	font-weight: $font-weight-bold;

	& + .x-flex-tabs__content {
		height: auto;
		opacity: 1;
		overflow-y: auto;
		padding-bottom: 1em;
		padding-top: 1em;
		transform: scaleY(1);
		transition: opacity 0.3s ease-in;
	}
}

@media print {

	.x-flex-tabs__tab {
		border-color: currentColor;
		font-weight: $font-weight-bold;

		&:after {
			opacity: 0;
		}
	}

	.x-flex-tabs:not(.x-flex-tabs--accordion) .x-flex-tabs__tab {
		order: unset;
		width: 100%;

		&:not(:first-of-type) {
			margin-left: 0;
		}
	}

	.x-flex-tabs__content {
		height: auto;
		opacity: 1;
		overflow-y: auto;
		padding-bottom: 1em;
		padding-top: 1em;
		transform: scaleY(1);
	}
}
