@import "variables";
@import "extensions/tabs";

/* Product Page
	=========================================== */

.x-product-layout {

	@include media( ">=large" ) {
		@include rem( padding-top, 32 );
	}
}

.x-product-layout-purchase__name {
	@include rem( margin-bottom, 32 );
}

.x-product-layout-purchase__pricing-original,
.x-product-layout-purchase__pricing-current {
	@include rem( font-size, 18 );
	font-weight: $font-weight-medium;
}


.x-product-layout-purchase {

	.is-required {
		font-weight: $font-weight-medium;
	}
}

.x-product-layout-purchase__options {
	display: flex;
	max-width: none;
	width: auto;
}

.x-product-layout-purchase__options-attribute {

	.c-form-label {
		@include rem( font-size, 12 );
	}
}

.t-quantify {

	.c-control-group__button {
		padding: 1.25rem 0;
		@include input-border-style;
	}

	.c-control-group__button,
	.c-control-group__field {
		flex-basis: (100% / 3);
		max-width: (100% / 3);
	}
}

.x-product-description {
	@include rem( margin-bottom, 96 );
	@include rem( padding-top, 96 );

	@include media( "<medium" ) {

		input[ data-flex-tab ]:checked + .x-flex-tabs__tab ~ .x-flex-tabs__tab:after {
			content: "-";
		}
	}

	.x-flex-tabs__tab {
		padding: 0.75rem 0;

		@include media( "<large" ) {
			align-items: center;
			display: flex;
			justify-content: space-between;

			&:after {
				content: "+";
				display: inline-block;
				font-size: $font-size-medium;
				line-height: 1;
			}
		}

	}
}

@media print {

	.x-product-layout-purchase__cta {
		display: none;
		visibility: hidden;
	}

	.x-product-description {
		margin-bottom: 1rem;
		padding-top: 1rem;
	}
}
