/* ==========================================================================
   UTILITIES / BORDERS
   ========================================================================== */

/**
 * Utility classes to adjust element borders.
 */
@each $border_width_code, $border_width_amount in $border_widths {
	
	.u-border-width-#{$border_width_code} {
		border-width: $border_width_amount;
	}
}

.u-border-none {
	border-width: $border-width-none;
}

.u-border-rounded {
	border-radius: $radius-large;
}

@each $radius_code, $radius_amount in $radius {

	.u-border-radius-#{$radius_code} {
		border-radius: $radius_amount;
	}
}