/* ==========================================================================
   UTILITIES / COLORS
   ========================================================================== */

/**
 * Utility classes to adjust element colors inline.
 */

@each $name, $color in $colors {

	.u-bg-#{$name} {
		background-color: $color;
	}

	.u-border-#{$name} {
		border-color: $color;
	}

	.u-color-#{$name} {
		color: $color;
	}

}