/* ==========================================================================
   UTILITIES / DISPLAY
   ========================================================================== */

.u-overflow-hidden {
	overflow: hidden;
}

/**
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.u-hide-visually {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;

	&.focusable:active,
	&.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		white-space: inherit;
		width: auto;
	}
}

/**
 * Hide visually and from screen readers.
 */

[ aria-hidden="true" ],
.u-hidden {
	display: none;
}

/**
 * Hidden visually but maintains the layout.
 */

.u-invisible {
	visibility: hidden;
}

/**
 * Various utility classes to show the content.
 */

.u-flex {
	display: flex;
}

.u-block,
.u-shown {
	display: block;
}

.u-inline {
	display: inline;
}

.u-inline-block {
	display: inline-block;
}

.u-visible {
	visibility: visible;
}

@each $breakpoint, $shortcode in $breakpoint_shortcodes {
	@include media("screen", ">=" + $breakpoint) {

		.u-hidden--#{$shortcode} {
			display: none;
		}

		.u-invisible--#{$shortcode} {
			visibility: hidden;
		}

		.u-flex--#{$shortcode} {
			display: flex;
		}

		.u-block--#{$shortcode},
		.u-shown--#{$shortcode} {
			display: block;
		}

		.u-inline--#{$shortcode} {
			display: inline;
		}

		.u-inline-block--#{$shortcode} {
			display: inline-block;
		}

		.u-visible--#{$shortcode} {
			visibility: visible;
		}
	}
}