/* ==========================================================================
Full Width Background Responsive Images
========================================================================== */

.u-full-width-background {
	position: relative;

	> * {
		width: 100%;
	}
	
	.x-container--bg {
		bottom: 0;
		left: 0;
		padding: 0;
		position: absolute;
		top: 0;
	}

	.u-full-width-background--bg {
		background-position: center center;
		background-size: cover;
		height: 100%;
		width: 100%;
	}
	
	// For nested Header components
	
	.x-header,
	.x-container--content {
		z-index: map-get($layers, 1);
	}

	.x-header {
		position: relative;
		
		@include media( ">=large" ) {
			background-color: transparent;
		}
	}
	
	// .x-container__header {
	// 	margin: 0;
	// 	order: 2;
	// 	padding: $unit-large ($unit * 0.5);
	// 	text-transform: capitalize;
	// 	width: 100%;
		
	// 	@include media(">=large") {
	// 		width: auto;
	// 	}
	// }

	.x-container__header-leadin {
		font-size: ($unit * 0.8125);
		margin-bottom: $unit;
		
		@include media(">=large") {
			font-size: ($unit * 0.875);
		}
	}

	.x-container__header-main {
		font-size: ($unit * 2.125);
		line-height: 1;
		
		@include media(">=large") {
			font-size: ($unit * 3.75);
		}
		
		@include media(">=xlarge") {
			font-size: ($unit * 5.75);
		}
	}

	.x-container__header__copy {
		font-size: $font-size-medium;
		margin: $unit 0 $unit-large;
		
		@include media(">=large") {
			margin: $unit-large 0 ($unit * 3);
		}
	}

	.x-container--content {
		margin: 0;
	}

	.x-section {
		margin: 0;
	}

	.x-container--image__wrapper {
		margin: 0;
		padding: 0;
	}

	.x-container__header-link {
		font-size: ($unit * 0.875);
	}

}