/* ==========================================================================
   UTILITIES / GRIDS
   ========================================================================== */

/**
 * A series of utility classes that give an automatic number of columns based
 * on the class used, media breakpoints are included.
 *
 *	<div class="o-layout u-grids-3">
 *		<div class="o-layout__item">
 *		</div>
 *		<div class="o-layout__item">
 *		</div>
 *		<div class="o-layout__item">
 *		</div>
 *		<div class="o-layout__item">
 *		</div>
 *		<div class="o-layout__item">
 *		</div>
 *	</div>
 *
 * The above will create a three-column structure in which each column will
 * fluidly fill one-third of the width of the parent with the remainder elements
 * wrapping as needed. We can have more complex systems:
 *
 * 	<div class="o-layout u-grids-1 u-grids-3--m">
 *		<div class="o-layout__item">
 *		</div>
 *		<div class="o-layout__item">
 *		</div>
 *		<div class="o-layout__item">
 *		</div>
 *		<div class="o-layout__item">
 *		</div>
 *		<div class="o-layout__item">
 *		</div>
 * 	</div>
 *
 * The above will create a structure in which each column will be 100% width
 * until we enter our medium breakpoint, then they will be one-third the width
 * of the parent container with the remainder elements wrapping as needed.
 */

// TODO: Can this be done within one for loop instead of a for & an each?
@for $i from 1 to ($column-count + 1) {

	// Widths

	.u-width-#{$i} {
		flex-basis: (100% / $column-count * $i);
		max-width: (100% / $column-count * $i);
	}

	// Offsets

	.u-offset-#{$i} {
		margin-left: (100% / $column-count * $i);
	}

	// Grids

	.u-grids-#{$i} > .o-layout__item {
		flex-basis: (100% / $i);
		max-width: (100% / $i);
	}
}

@each $breakpoint, $shortcode in $breakpoint_shortcodes {

	@include media(">=" + $breakpoint) {

		@for $i from 1 to ($column-count + 1) {

			// Widths

			.u-width-#{$i}--#{$shortcode} {
				flex-basis: (100% / $column-count * $i);
				max-width: (100% / $column-count * $i);
			}

			// Offsets

			.u-offset-#{$i}--#{$shortcode} {
				margin-left: (100% / $column-count * $i);
			}

			// Grids

			.u-grids-#{$i}--#{$shortcode} > .o-layout__item {
				flex-basis: (100% / $i);
				max-width: (100% / $i);
			}

		}
	}
}
