/* ==========================================================================
   UTILITIES / Z-INDEX
   ========================================================================== */

/**
 * Utility classes to set display relevance on the 'Z' axis.
 */

@each $layer_code, $z_index in $layers {
	
	.u-layer-#{$layer_code} {
		z-index: $z_index;
	}
}