/* ==========================================================================
Utilities | Overlay
========================================================================== */

.u-overlay {
	background-color: rgba(0,0,0, 0.65);
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}
