/* ==========================================================================
   UTILITIES / PRINT
   ========================================================================== */

/**
 * Print styles taken from the HTML5 Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
 * Inlined to avoid the additional HTTP request:
 * http://www.phpied.com/delay-loading-your-print-css/
 */

@media print {

	@page {
		margin: 10%;
		orphans: 2;
		size: letter;
		widows: 2;
	}
	/**
	* 1. Black prints faster: http://www.sanbeiji.com/archives/953
	*/

	*,
	*:before,
	*:after {
		background: transparent !important; /* stylelint-disable-line declaration-no-important */
		box-shadow: none !important; /* stylelint-disable-line declaration-no-important */
		color: #000000 !important; /* stylelint-disable-line declaration-no-important */
		text-shadow: none !important; /* stylelint-disable-line declaration-no-important */
	}

	body > *:not(main) {
		display: none;
	}

	a,
	a:visited {
		text-decoration: underline !important; /* stylelint-disable-line declaration-no-important */
	}

	pre {
		white-space: pre-wrap !important; /* stylelint-disable-line declaration-no-important */
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	/*
	 * Printing Tables:
	 * http://css-discuss.incutio.com/wiki/Printing_Tables
	 */

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}

.u-printable__content {
	display: none;
	visibility: hidden;
}

@media print {

	.u-printable:not(.u-printable__content) {
		display: none;
		visibility: hidden;
	}

	.u-printable__content {
		display: block;
		left: 0;
		position: absolute;
		top: 0;
		visibility: visible;
		width: 100%;
	
		& * {
			visibility: visible;
		}
	}
}
