/*
# Ratios

A series of aspect-ratio helper classes
Helpful for working with responsive media embeds (images, videos, etc.
*/

/*
Embed Videos (ex. YouTube videos)

<div class="u-responsive-embed u-responsive-embed--16by9">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/wbbxrDuv2Dw" ...></iframe>
</div>
*/

@mixin responsive-embed-parent {
	display: block;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100%;

	&:before {
		content: "";
		display: block;
	}
}

@mixin responsive-embed-child($height: 100%) {
	border: 0;
	bottom: 0;
	height: $height;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.u-responsive-embed {

	@include responsive-embed-parent();

	& > .u-responsive-embed-item,
	& > iframe,
	& > video {
		@include responsive-embed-child();
	}

	& > img,
	& > picture,
	& > source {
		@include responsive-embed-child($height: auto);
	}
}

@each $ratio_code, $ratio_value in $embed-ratios {

	.u-responsive-embed--#{$ratio_code}:before {
		padding-top: $ratio_value;
	}

}

/*
Background Image

<div class="u-responsive-bg-img u-responsive-bg-img--4by3" style="background-image: url(https://via.placeholder.com/600x300)"></div>
*/

.u-responsive-bg-img {
	background-position: center;
	background-size: cover;
}

@each $ratio_code, $ratio_value in $bg-image-ratios {

	.u-responsive-bg-img--#{$ratio_code} {
		padding-top: $ratio_value;
	}

}
