/*
# Spacers

Output a series of spacing helper classes
for various combinations of margin/padding, directions, units, & breakpoints


## Combinations

- Spacer:
	margin (m)
	padding (p)
- Directions:
	all ()
	top (t)
	right (r)
	bottom (b)
	left (l)
	x-axis (x)
	y-axis (y)
- Unit:
	base ()
	xsmall (xs)
	small (s)
	medium (m)
	large (l)
- Breakpoints:
	xsmall ()
	small (s)
	medium (m)
	large (l)
	wide (w)

## Pattern

.u-[Spacer][Direction]-[Unit_Code]--[Breakpoints] {
	margin: [Unit_Amount];
}

## Examples

.u-mt {
  margin-top: 16px;
}

.u-mt-xs {
  margin-top: 4px;
}

@media [...] {
	.u-mt-xs--l {
	margin-top: 4px;
	}
}


*/

/* Mixins
   =========================================== */

@mixin spacer-single($code, $property, $amount_suffix: "", $breakpoint_suffix: "", $amount: $unit) {
	
	.#{$code}#{$amount_suffix}#{$breakpoint_suffix}{
		#{$property}: $amount;
	}

	.#{$code}t#{$amount_suffix}#{$breakpoint_suffix}{
		#{$property}-top: $amount;
	}

	.#{$code}r#{$amount_suffix}#{$breakpoint_suffix}{
		#{$property}-right: $amount;
	}

	.#{$code}b#{$amount_suffix}#{$breakpoint_suffix}{
		#{$property}-bottom: $amount;
	}

	.#{$code}l#{$amount_suffix}#{$breakpoint_suffix}{
		#{$property}-left: $amount;
	}

	.#{$code}x#{$amount_suffix}#{$breakpoint_suffix}{
		#{$property}-left: $amount;
		#{$property}-right: $amount;
	}

	.#{$code}y#{$amount_suffix}#{$breakpoint_suffix}{
		#{$property}-bottom: $amount;
		#{$property}-top: $amount;
	}
}

@mixin spacer-set($spacers: $spacers, $breakpoint_code: "") {
	// Create helper classes for each unit
	@each $spacer_code, $amount in $spacers {

		// Don't add a unit_suffix for the "base" unit
		$amount_suffix: "-" + $spacer_code;
		@if $spacer_code == base {
			$amount_suffix: "";
		}


		$breakpoint_suffix: "";
		@if not($breakpoint_code == "") {
			$breakpoint_suffix: "--" + $breakpoint_code;
		}

		// Ouptut thei `padding` classes for this unit & breakpoint combination
		@include spacer-single(
			$code: "u-p",
			$property: "padding",
			$amount_suffix: $amount_suffix,
			$breakpoint_suffix: $breakpoint_suffix,
			$amount: $amount
		);

		// Ouptut the `margin` classes for this unit & breakpoint combination
		@include spacer-single(
			$code: "u-m",
			$property: "margin",
			$amount_suffix: $amount_suffix,
			$breakpoint_suffix: $breakpoint_suffix,
			$amount: $amount
		);
	}
}


/* Class Output
   =========================================== */

// Create helper classes for xsmall
@include spacer-set($spacers);

// Create helper classes for each breakpoint
@each $breakpoint, $breakpoint_code in $breakpoint_shortcodes {

	@include media(">=" + $breakpoint) {

		@include spacer-set($spacers, $breakpoint_code);

	}

}