/* Primary
   =========================================== */

.u-bg-style--primary {
	background-color: $primary;
	color: $white;
}

.u-cta-style--primary {
	@include button-style-primary;
}

.u-cta-style--primary-inverted {
	@include button-style-primary-inverted;
}

/* Secondary
   =========================================== */

.u-cta-style--secondary {
	@include button-style-secondary;
}

.u-cta-style--secondary-inverted {
	@include button-style-secondary-inverted;
}

/* Tertiary
   =========================================== */

.u-cta-style--tertiary {
	@include button-style-tertiary;
}

.u-cta-style--tertiary-inverted {
	@include button-style-tertiary-inverted;
}

//Button Widths

.u-button-width--xsmall{
	@include button-width-xsmall;
}

.u-button-width--small{
	@include button-width-small;
}

.u-button-width--regular{
	@include button-width-regular;
}

.u-button-width--large{
	@include button-width-large;
}
