/* ==========================================================================
   UTILITIES / TYPOGRAPHY
   ========================================================================== */

/* Set font-styles
   =========================================== */

.u-font-style-1 {
	@include font-style-1;
}

.u-font-style-2 {
	@include font-style-2;
}

/* Set font-family options
   =========================================== */

@each $font_code, $font_family in $fonts {

	.u-font-#{$font_code} {
		font-family: $font_family;
	}

}

/* Text alignment utilities
   =========================================== */

$aligns: (left, center, right, justify);

@each $align in $aligns {

	.u-text-#{$align} {
		text-align: $align;
	}

}

@each $breakpoint, $shortcode in $breakpoint_shortcodes {

	@include media(">=" + $breakpoint) {

		@each $align in $aligns {

			.u-text-#{$align}--#{$shortcode} {
				text-align: $align;
			}

		}

	}

}

/* Font sizing utilities
  =========================================== */
@each $label, $size in $font-size-utilities {

	.u-font-#{$label} {
		font-size: $size;
	}
}

/* Font sizing utilities
  =========================================== */
@each $label, $size in $relative-font-sizes {

	.u-em-#{$label} {
		font-size: $size;
	}
}

/* Font style utilities
 * 1. This is a hold-over class for content output by Miva.
  =========================================== */

.u-text-light {
	font-weight: $font-weight-light;
}

.u-text-normal {
	font-style: normal;
	font-weight: $font-weight-normal;
}

.u-text-medium {
	font-weight: $font-weight-medium;
}

.required, /* [1] */
.u-text-bold {
	font-weight: $font-weight-bold;
}

.u-text-boldest {
	font-weight: $font-weight-black;
}

.u-text-caps {
	font-variant: small-caps;
}

.u-text-italic {
	font-style: italic;
}

.u-text-lowercase {
	text-transform: lowercase;
}

.u-text-revert {
	text-transform: none;
}

/* .u-text-uppercase {
	text-transform: uppercase;
} */

.u-text-strike {
	text-decoration: line-through;
}

.u-text-underline {
	text-decoration: underline;
}

a.u-text-underline:hover {
	text-decoration: none;
}

/**
 * Text utility to constrain text to a maximum of 75 characters per line,
 * so we hard-code this value. Please don't change it.
 *
 * https://jsfiddle.net/5571te7g/
 *
 */

.u-text-constrain {
	max-width: 30em;
}
