/* ==========================================================================
   EXTENSIONS / FASTEN HEADER / FASTEN HEADER
   ========================================================================== */

@import "variables";

.x-fasten-header {
	display: none;
}

@include media("screen", ">=large") {

	.x-fasten-header {
		background-color: $gray-5;
		box-shadow: 0 rem-calc(2 4) rgba(0, 0, 0, 0.2);
		color: $white;
		display: flex;
		max-width: none;
		opacity: 0;
		padding: 0.5rem 1rem;
		position: fixed;
		top: 0;
		transform: scaleY(0);
		transform-origin: top;
		transition: all ease-in-out 0.15s;
		visibility: hidden;
		width: 100vw;
		z-index: 300;
	}

	.x-fasten-header--is-active .x-fasten-header {
		opacity: 1;
		transform: scaleY(1);
		visibility: visible;
	}

	.x-fasten-header__logo-image {
		max-height: 4rem;
	}

}
