.u-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.u-icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.u-icon-logout {
  width: 0.8642578125em;
}

.u-icon-speech-bubble {
  width: 1.0087890625em;
}
