/*
	==========================================================================
	THEME VARIABLES
	==========================================================================

	Add your core variable overwrites within this file. Add `@import "variables";` to the top of each new scss file to utilize theme and core variables.

	You can reference available core variables here:
	https://bitbucket.mivamerchant.net/projects/PS/repos/mvps-genesis/browse/packages/genesis/lib/scss/_variables.scss

	To ensure that theme variables defined within this file are the "highest" level, remove the `!default` at the end of the variable definition.

*/

$font-family-copy: (franklin-gothic-urw, sans-serif);
$font-family-cta: (neue-haas-grotesk-display, sans-serif);
$font-family-heading: ("Helvetica Neue", Helvetica, Arial, sans-serif);

@import "scss/config/config";

// ==================================================================================================== //

/** Add your overwrites within this section **/



// ==================================================================================================== //
