@import "variables";

/* Basket Page
	=========================================== */

.t-basket__product-summary .c-table-responsive__row,
.t-basket__order-summary .c-table-simple__row {
	border-color: $gray-1;
}

.t-basket__product-summary {

	.t-basket__summary-titles,
	.t-basket__summary-product {
		border-bottom: 1px solid $gray-1;
		margin-bottom: $unit;
		padding-bottom: $unit;
	}
}

.t-basket-update {

	.x-quantify {
		font-size: 0.875rem;
		width: 10em;

		@include media( ">=large" ) {
			margin: auto;
		}

		.c-control-group__button {
			padding: 1rem 0;
			@include input-border-style;
		}

		.c-control-group__button,
		.c-control-group__field {
			flex-basis: (100% / 3);
			max-width: (100% / 3);
		}
	}
}

.t-basket__product-remove {
	height: 3rem;
	line-height: 3;
	padding: 0;
	width: 3rem;
}

.basket-coupon-form-label {
	cursor: pointer;
}
