/* ==========================================================================
   EXTENSIONS / MINI-BASKET / MINI-BASKET
   ========================================================================== */

/**
 * This is an extension to use the mini-basket functionality of Miva in an
 * off-canvas method.
 */

.x-mini-basket {
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 0;
	display: flex;
	justify-content: flex-end;
	left: 0;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	transform: scaleX(0);
	transform-origin: right;
	transition: all ease-in-out 0.2s;
	visibility: hidden;
	z-index: 500;
}

.x-mini-basket--open {
	opacity: 1;
	transform: scaleX(1);
	visibility: visible;
}

.x-mini-basket__content {
	display: flex;
	flex: 1 1 100%;
	flex-direction: column;
	max-width: 30rem;
	padding: 1rem;
	width: 100vw;
}

.x-mini-basket__header {
	display: flex;
	justify-content: space-between;
}

.x-mini-basket__list {
	overflow-y: auto;
}

.x-mini-basket__line {
	display: flex;
	flex-wrap: wrap;
	font-size: 0.875rem;
	margin-bottom: 2em;
}

.x-mini-basket__image {
	height: 5rem;
	margin: 0;
	overflow: hidden;
	padding: 0 1rem 0 0;
	text-align: center;
	width: 5rem;
}

.x-mini-basket__item {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 1;
	justify-content: space-between;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

.x-mini-basket__item-name {
	display: block;
	margin-bottom: 1em;
}

.x-mini-basket__subscription {
	flex-basis: 100%;
}

.x-mini-basket__item-total {
	align-items: center;
	display: flex;
	justify-content: space-between;

	hr {
		flex-grow: 1;
		margin: 0 0.75em;
	}
}

.x-mini-basket__charges,
.x-mini-basket__total,
.x-mini-basket__cta {
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
}

.x-mini-basket__charges {
	flex-direction: column;
	font-size: 0.875rem;
	margin-bottom: 1em;
}

.x-mini-basket__charge-item {
	display: flex;
	justify-content: space-between;
}

.x-mini-basket__total {
	margin-bottom: 1em;
}

.x-mini-basket__cta {
	font-size: 0.875rem;
}
