/*	==========================================================================
	EXTENSIONS / NAVIGATION / TRANSFIGURE NAVIGATION
	========================================================================== */

@import "variables";

@include media("screen", "<large") {

	.has-open-main-menu,
	.has-open-main-menu body {
		overflow: hidden;
	}

	.has-open-main-menu {
		
		.t-site-header,
		.t-breadcrumbs,
		.t-main-content-element,
		.t-site-footer {
			filter: blur(0.3125rem);
			transition: all 250ms ease;

			* {
				filter: blur(0.3125rem);
			}
		}

		.x-transfigure-navigation__wrap {
			opacity: 1;
			transform: translateX(0%);
		}
	}

	.x-transfigure-navigation {
		backface-visibility: hidden;
		background-color: rgba(0, 0, 0, 0);
		bottom: 0;
		left: 0;
		opacity: 0;
		overflow: hidden;
		padding: 0;
		position: fixed;
		right: 0;
		top: 0;
		transform-origin: left;
		transition: visibility 0ms ease 200ms, all 200ms ease 0ms;
		visibility: hidden;
		z-index: -1;

		&.is-open {
			opacity: 1;
			transition: visibility 0ms ease 0ms, all 200ms ease 50ms;
			visibility: visible;
			z-index: 2;
		}

		& .c-navigation__list {
			position: static;
		}

		& .c-navigation__link {
			align-items: center;
			backface-visibility: hidden;
			border-radius: 0;
			display: flex;
			height: 3.75rem;
			justify-content: space-between;
			overflow: hidden;
			padding: 0;
			text-overflow: ellipsis;
			transform: translateZ(0);
			transition: all 0.3s;
			white-space: nowrap;
		}

		& .c-navigation__link-carat {
			display: none;
		}

		& .has-child-menu .c-navigation__link-carat {
			align-self: stretch;
			display: inline-flex;
		}

		& .c-navigation__link-carat > * {
			align-items: center;
			display: flex;
			justify-content: center;
		}
	}

	.x-transfigure-navigation__wrap {
		background-color: $white;
		box-shadow: 0.4375rem 0 1.375rem 0 rgba(0,0,0,0.16);
		max-width: 80vw;
		min-height: 100%;
		opacity: 0;
		-webkit-overflow-scrolling: touch;
		overflow-x: hidden;
		overflow-y: auto;
		transform: translateX(-110%);
		transition: opacity 350ms ease-in-out;
	}

	.x-transfigure-navigation-exit__icon {
		border-radius: 100%;
		font-size: 1.45rem;
		height: 1.9375rem;
		line-height: 1.875rem;
		position: fixed;
		right: 1rem;
		text-align: center;
		top: 1rem;
		width: 1.9375rem;
	}	

	.x-transfigure-navigation__content {
		position: relative;
	}

	.x-transfigure-navigation__row,
	.x-transfigure-navigation__row .c-navigation__row {
		background-color: $white;
		display: block;
		height: 100vh;
		left: 0;
		list-style: none;
		min-height: 100%;
		overflow: hidden;
		overflow-y: auto;
		position: absolute;
		top: 0;
		transition: transform 0.3s;
		width: 100%;
		z-index: 1;
	}

	.c-navigation__row {
		padding: 1rem 1.375rem;
	}

	.x-transfigure-navigation .c-navigation__list:hover > .c-navigation__row {
		box-shadow: none;
		display: block;
	}

	.x-transfigure-navigation__row .c-navigation__row:nth-child(2) .c-navigation__row:last-of-type {
		background-color: $white;
		display: block;
		left: 0;
		list-style: none;
		min-height: 100%;
		position: absolute;
		top: 0;
		transition: visibility 0ms ease 300ms, transform 300ms ease 0ms;
		width: 100%;
	}

	.x-transfigure-navigation__row.is-hidden,
	.x-transfigure-navigation__row .c-navigation__row.is-hidden {
		transform: translateX(100%);
	}

	.x-transfigure-navigation__row.is-hidden > .cmp-primary-navigation__title,
	.x-transfigure-navigation__row.show-next > .cmp-primary-navigation__title,
	.x-transfigure-navigation__row.is-hidden > .c-navigation__list > .c-navigation__link,
	.x-transfigure-navigation__row.show-next > .c-navigation__list > .c-navigation__link,
	.x-transfigure-navigation__row .c-navigation__row.is-hidden > .c-navigation__list > .c-navigation__link,
	.x-transfigure-navigation__row .c-navigation__row.show-next > .c-navigation__list > .c-navigation__link {
		opacity: 0;
	}

	.x-transfigure-navigation__row.show-next > .c-navigation__list > .c-navigation__link,
	.x-transfigure-navigation__row .c-navigation__row.show-next > .c-navigation__list > .c-navigation__link,
	.x-transfigure-navigation__row.show-next > .x-transfigure-navigation__footer > .c-navigation__list > .c-navigation__link {
		display: none;
		transform: translateX(-100%);
		transition: visibility 0ms ease 0ms, all 300ms ease 50ms;
		visibility: hidden;
	}

	.x-transfigure-navigation__content .c-navigation__row:nth-child(2) .c-navigation__link,
	.x-transfigure-navigation__content .c-navigation__row:nth-child(2) .c-navigation__row:last-of-type .c-navigation__link {
		padding-left: 0;
	}

	.x-transfigure-navigation__footer-link {
		display: block;
		font-weight: $font-weight-medium;
		line-height: 2;
		padding-bottom: 1em;
		padding-top: 1em;
	}

	.x-transfigure-navigation__footer {
		font-size: 0.75rem;
		list-style: none;

		&> .c-navigation__list:first-child {

			&> .c-navigation__link {
				border-top: 0.0625rem solid $gray-1;
				margin-top: 1rem;
				padding-top: 1rem;

			}
		}

		.x-transfigure-navigation-link__icon {
			display: inline-block;
			margin-right: 0.75rem;
		}

		.c-navigation__link {
			border: 0;
		}

		.c-navigation__row {

			.x-transfigure-navigation-title {
				font-size: 1.1875rem;
				letter-spacing: 0.05em;
			}

			.x-transfigure-navigation-view-all,
			.x-transfigure-navigation-back {
				font-size: 0.75rem;
			}

			.x-transfigure-navigation-view-all {
				font-weight: $font-weight-bold;
			}
		}
	}

	.x-transfigure-navigation-back {
		font-size: 0.75rem;
	}

	.c-navigation__back-icon,
	.c-navigation__viewall-icon {
		font-size: 1.25rem;
		position: relative;
	}

	.c-navigation__back-icon {
		margin-right: 0.5rem;
		top: 0.0625rem;
	}

	.c-navigation__viewall-icon {
		margin-left: 0.5rem;
		position: relative;
		top: 0.125rem;
	}
}

@include media("screen", ">=large") {

	.x-transfigure-navigation__row .c-navigation__row {
		display: none;
		position: absolute;
		white-space: nowrap;
		width: auto;
		z-index: 100;
	}

	.x-transfigure-navigation__row .c-navigation__row:nth-child(2) .c-navigation__list {
		text-align: left;
	}

	.x-transfigure-navigation {

		& > .c-navigation__row {
			display: flex;
		}

		& .c-navigation__link {
			align-items: center;
			display: flex;
			justify-content: space-around;
		}

		& .c-navigation__list:hover > .c-navigation__row {
			box-shadow: 0.0625rem 0.0625rem 0.25em 0 rgba(15, 15, 15, 0.5);
			display: table;
		}

		& .c-navigation__row:nth-child(2) .c-navigation__link,
		& .c-navigation__row:nth-child(2) .c-navigation__row:last-of-type .c-navigation__link {
			justify-content: space-between;
		}

		& .c-navigation__link-carat {
			transform: rotate(90deg);
		}

		& .c-navigation__row:nth-child(2) .c-navigation__link-carat {
			transform: rotate(0deg);
		}
	}

	.x-transfigure-navigation__row .c-navigation__row:nth-child(2) .c-navigation__row .c-navigation__link,
	.x-transfigure-navigation__row .c-navigation__row:nth-child(2) .c-navigation__row:last-of-type .c-navigation__link {
		padding-left: 1rem;
	}

	.x-transfigure-navigation__row .c-navigation__row:nth-child(2) .c-navigation__row:last-of-type {
		left: 100%;
		top: 0;
		z-index: 200;
	}

	.x-transfigure-navigation__row .is-off-screen .c-navigation__row:nth-child(2) .c-navigation__row {
		box-shadow: -0.0625rem 0.0625rem 0.25em 0 rgba(15, 15, 15, 0.5);
		left: auto;
		right: 100%;
	}
}

.x-transfigure-navigation {

	.c-navigation__link {
		font-weight: $font-weight-semibold;

		&:hover {
			box-shadow: none;
		}
	}

	.c-navigation__row {

		&:nth-child(2) {

			.c-navigation__link {
					
				&:hover {
					background-color: $white;
					transition: color ease-out 0.1s;
				}
			}
		}
	}

	@include media( ">=large" ) {

		.c-navigation__link {
			padding: 0.5rem 1rem;
			transition: color ease-in 0.1s;
		}

		.c-navigation__list {

			&:hover {

				.c-navigation__link {
					color: $black;
				}
			}
		}

		&:hover {

			.c-navigation__list {

				.c-navigation__link {
					@include black-shade( 68% );
				}
			}
		}
	}
}

.x-transfigure-navigation-exit {
	background: rgba(218, 217, 214, 0.85);
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: -1;
}
