@function strip-unit($num) {
	@return $num / ($num * 0 + 1);
}

@function px-to-rem( $value, $base ) {
	@return strip-unit( $value ) / strip-unit( $base ) * 1rem;
}

@function rem-calc( $values ) {
	$rem-values: ();
	$count: length( $values );
	$base: ($html-font-size / 100%) * 16px;

	@if $count == 1 {
		@return px-to-rem( $values, $base );
	}

	@for $i from 1 through $count {
		$rem-values: append( $rem-values, px-to-rem( nth( $values, $i ), $base ) );
	}

	@return $rem-values;
}