//* Maps ==================================== *//

/* Media Queries & Breakpoints
   https://include-media.com/
   =========================================== */

/*
| Name       | Code      | Short-Code | Em      | Px     |
| -----------|-----------|------------|---------|--------|
| Small      | small     | s          | 40em    | 640px  |
| Medium     | medium    | m          | 48em    | 768px  |
| Large      | large     | l          | 60em    | 960px  |
| X-Large    | xlarge    | xl         | 75em    | 1200px |
| XX-Large   | xxlarge   | xxl        | 90em    | 1440px |
*/

$breakpoints: (
	"small":     $breakpoints-small,
	"medium":    $breakpoints-medium,
	"large":     $breakpoints-large,
	"xlarge":    $breakpoints-xlarge,
	"xxlarge":   $breakpoints-xxlarge
) !default;

$wrappers: (
	"wide":      $wrappers-wide,
	"ultrawide": $wrappers-ultrawide
) !default;

$breakpoint_shortcodes: (
	"small":     s,
	"medium":    m,
	"large":     l,
	"xlarge":    xl,
	"xxlarge":   xxl
) !default;

@import "~include-media/dist/include-media";

// Border Radius
$radius: (
	"none":   $radius-none,
	"small":  $radius-small,
	"medium": $radius-medium,
	"large":  $radius-large
) !default;


// Border Width
$border_widths: (
	"none":   $border-width-none,
	"small":  $border-width-small,
	"medium": $border-width-medium,
	"large":  $border-width-large
) !default;


// Colors
$colors_shades: (
	"white":      $white,
	"black":      $black,
	"gray-5":     $gray-5,
	"gray-4":     $gray-4,
	"gray-3":     $gray-3,
	"gray-2":     $gray-2,
	"gray-1":     $gray-1,
	"transparent": $transparent
) !default;

$colors_theme: (
	"primary":	 $primary,
	"secondary": $secondary,
	"tertiary":  $tertiary,
) !default;

$colors_messages: (
	"neutral":  $message-neutral-color,
	"success":  $message-success-color,
	"info":     $message-info-color,
	"warning":  $message-warning-color,
	"error":    $message-error-color,
	"font":	    $message-font-color,
	"danger":   $message-danger-color,
	"discount": $message-discount-color,
) !default;

$colors: ();
$colors: map-merge($colors, $colors_shades );
$colors: map-merge($colors, $colors_theme );
$colors: map-merge($colors, $colors_messages );

// Fixed Font Sizes
$font-sizes: (
	1: $font-size - ($font-size-incrimentor * 1 ),
	2: $font-size - ($font-size-incrimentor * 0.5 ),
	3: $font-size,
	4: $font-size + ($font-size-incrimentor * 1 ),
	5: $font-size + ($font-size-incrimentor * 2 ),
	6: $font-size + ($font-size-incrimentor * 3 ),
	7: $font-size + ($font-size-incrimentor * 4 ),
	8: $font-size + ($font-size-incrimentor * 5 ),
	9: $font-size + ($font-size-incrimentor * 6 ),
) !default;

// Relative Font Sizes
$relative-font-sizes: (
	1: 0.2em,
	2: 0.4em,
	3: 0.6em,
	4: 0.8em,
	5: 1em,
	6: 1.2em,
	7: 1.4em,
	8: 1.6em,
	9: 1.8em,
) !default;

// Heading Sizes
$font-size_headings: (
	"h6": $h6-size,
	"h5": $h5-size,
	"h4": $h4-size,
	"h3": $h3-size,
	"h2": $h2-size,
	"h1": $h1-size
) !default;

// Font Families
$fonts: (
	primary:   $font-family-primary,
	secondary: $font-family-secondary,
	icons:     $font-family-icons
) !default;

// Font Size Utilities
$font-size-utilities: (
	"xsmall": $font-size-xsmall,
	"small":  $font-size-small,
	"medium": $font-size-medium,
	"large":  $font-size-large,
	"xlarge": $font-size-xlarge
) !default;

// Font Size Utilities
$font-weight-utilities: (
	"lighter":  $font-weight-lighter,
	"light":    $font-weight-light,
	"normal":   $font-weight-normal,
	"medium":   $font-weight-medium,
	"semibold": $font-weight-semibold,
	"bold":     $font-weight-bold,
	"black":    $font-weight-black
) !default;

// Input Heights
$input-heights: (
	"default": $input-height,
	"large":   $input-height-large,
	"xlarge":  $input-height-huge
) !default;

// Input Control Groups
$control-group-radius:         $radius-small !default;
$control-group-rounded-radius: $radius-large !default;

// Ratios (Embed Responsive)
$embed-ratios: (
	"21by9": 9 / 21 * 100%,
	"16by9": 9 / 16 * 100%,
	"4by3":  3 / 4  * 100%,
	"1by1": 100%
) !default;

$bg-image-ratios: (
	// Landscape
	"21by9": 9 / 21 * 100%,
	"16by9": 9 / 16 * 100%,
	"4by3":  3 / 4  * 100%,
	"3by2":  2 / 3  * 100%,

	// Square
	"1by1":  100%,

	// Portrait
	"8by10": 10 / 8 * 100%,
	"5by7":   7 / 5 * 100%,
	"3by4":   4 / 3 * 100%,
	"2by3":   3 / 2 * 100%
) !default;

// Spacers (margin/padding)
$spacers: (
	"xxs":  $unit-xxsmall,
	"xs":   $unit-xsmall,
	"s":    $unit-small,
	"base": $unit,
	"m":    $unit-medium,
	"l":    $unit-large,
	"xl":   $unit-xlarge,
	"xxl":  $unit-xxlarge,
	"xxxl": $unit-xxxlarge,
	"none": 0
) !default;

// Units
$units: (
	"xxs":  $unit-xxsmall,
	"xs":   $unit-xsmall,
	"s":    $unit-small,
	"base": $unit,
	"m":    $unit-medium,
	"l":    $unit-large
) !default;

// Z-indexes
$layers: (
	"max": $layers-max,
	"min": $layers-min,
	"n1":  $layers-n1,
	0:     $layers-0,
	1:     $layers-1,
	2:     $layers-2,
	3:     $layers-3,
	4:     $layers-4
) !default;
