//* Mixins ==================================== *//

// Border UI
@mixin border-square {
	border: $border-solid;
}

@mixin border-pill {
	border: $border-width-small solid $radius-medium;
}

@mixin border-circle {
	border: $border-width-small solid $radius-large;
}

// Colors: Gray Shades
@mixin black-shade( $percent, $property: color ) {
	#{$property}: lighten( #000000, $percent );
}

@mixin white-shade( $percent, $property: color ) {
	#{$property}: darken( #FFFFFF, $percent );
}

//Fonts: Link Styles
@mixin link-style-2 {
	color: $main-link-color;
	cursor: pointer;
	font-weight: $font-weight-normal;
	text-decoration: underline;
}

@mixin link-style-1 {
	color: $main-link-color;
	font-weight: $font-weight-medium;
	text-decoration: none;

	&:hover{
		text-decoration: underline;
	}
}

// Font-Style: Headings / Titles / CTAs
@mixin font-style-1 {
	font-family: $font-family-primary;
	font-style: normal;
	font-weight: $font-weight-bold;
	text-transform: uppercase;
}

// Font-Style: Subheadings / Secondary CTAs
@mixin font-style-2 {
	font-family: $font-family-secondary;
	font-style: italic;
	font-weight: $font-weight-light;
	text-transform: lowercase;
}

$font_styles: (
	font-style-1,
	font-style-2
) !default;

// Input Mixins
@mixin input-border-style {
	border: $input-border;
	border-radius: $input-radius;
	box-shadow: $input-shadow;
	outline: $input-outline;
	transition: $input-transition;
}

// Units: REM sizing
@function strip-units($number) {
	@return $number / ($number * 0 + 1);
}

@mixin rem($property, $values...) {
	$font-size: strip-units($font-size * 16);
	$max: length($values);
	$remValues: "";

	@for $i from 1 through $max {
		$value: nth($values, $i);
		$remValues: #{ $remValues + ( $value / $font-size ) }rem;

		@if $i < $max {
			$remValues: #{$remValues + " "};
		}
	}

	#{$property}: $remValues;
}

@mixin shareBreakpoints($map , $cssprop: content){
	$description: "";

	@each $property, $value in $map {
		@if $description !=  "" {
			$description: $description + " | ";
		}
		$description: $description + "--" + $property + ": (max-width: " + inspect($value) + ")";
	}

	display: none;
	#{$cssprop}: $description;
}

// Messages

@mixin message-base($border: $message-border, $border-radius: $message-border-radius){
	border: $border;
	border-radius: $border-radius;
	margin-bottom: 1em;
	padding: 0.5em 1em;
	position: relative;
}


//* Design System Font Treatments ==================================== *//

@mixin type-heading ($font-family: $font-family-heading, $font-size: 36px, $font-weight: $font-weight-bold, $color: $main-text-color, $line-height: $heading-line-height) {
	color: $color;
	font-family: $font-family;
	font-size: $font-size;
	font-weight: $font-weight;
	line-height: $line-height;
}

@mixin type-lead-in-small {
	font-family: $font-family-primary;
	font-size: $font-size-medium;
	font-weight: $font-weight-semibold;
	line-height: 1.5em;
}

@mixin type-lead-in-large {
	font-family: $font-family-primary;
	font-size: $h6-size;
	font-weight: $font-weight-semibold;
	line-height: 1.4em;
}

@mixin type-paragraph-small {
	font-size: $font-size-small;
	line-height: 0.7em;
}

@mixin type-paragraph-large {
	font-size: 1.125rem;
	line-height: 0.9em;
}

@mixin type-product-name-small {
	font-size: $font-size-small;
	font-weight: $font-weight-bold;
	line-height: 0.7em;
}

@mixin type-product-name-large {
	font-size: $font-size-medium;
	font-weight: $font-weight-bold;
	line-height: 1.25em;
}

@mixin type-product-price {
	font-size: $font-size-small;
	font-weight: $font-weight-semibold;
	line-height: 0;
}

@mixin type-product-price-large {
	font-size: $font-size-medium;
	font-weight: $font-weight-bold;
	line-height: normal;
}

@mixin type-product-price-xlarge {
	font-size: 1.125rem;
	font-weight: $font-weight-bold;
	line-height: normal;
}


@mixin type-cta-text {
	font-size: $font-size-small;
	font-weight: $font-weight-semibold;
	line-height: 0;
}

@mixin type-navigation-text {
	color: #222222;
	font-size: 14px;
	font-weight: $font-weight-medium;
}

@mixin type-navigation-labels {
	color: #575A5D;
	font-size: 12px;
	font-weight: $font-weight-medium;
	text-transform: uppercase;
}

@mixin type-breadcrumb-normal {
	color: #656D78;
	font-size: 0.9375rem;
	font-weight: $font-weight-semibold;
	line-height: 0;
	text-decoration: none;

	&:hover {
		color: $secondary;
	}
}

@mixin type-breadcrumb-active {
	color: $secondary;
	font-size: 0.875rem;
	font-weight: $font-weight-bold;
	line-height: 1.3em;
	text-decoration: none;
}

// Button Styles

@mixin button-style-primary {
	background: #60666C;
	border-color: #60666C;
	color: $white;

	&:hover,
	&:active,
	&:focus {
		background: #2B3036;
		border-color: #2B3036;
	}

	&:hover{
		box-shadow: $box-shadow;
	}

	&:focus {
		border-color: #CCCCCC;
	}

	&:disabled,
	&[ disabled ] {
		background: #CCCCCC;
	}
}

@mixin button-style-secondary {
	background: transparent;
	border-color: #60666C;
	color: #60666C;

	&:hover,
	&:active,
	&:focus {
		border-color: #2B3036;
		color: #2B3036;
	}

	&:focus {
		outline: $border-width-medium solid #CCCCCC;
	}

	&:disabled,
	&[ disabled ] {
		border-color: #CCCCCC;
		color: #CCCCCC;
	}
}

@mixin button-style-tertiary {
	@include button-style-secondary;
	background: rgba(43, 48, 54, 0.1);

	&:disabled,
	&[ disabled ] {
		background: rgba(204, 204, 204, 0.1);
		border-color: rgba(204, 204, 204, 0.1);
		color: #CCCCCC;
	}
}

@mixin button-style-primary-inverted {
	background: $white;
	border-color: $white;
	color: #222222;

	&:hover,
	&:active,
	&:focus {
		background: #ACB5C1;
		border-color: #ACB5C1;
		color: $white;
	}

	&:hover{
		box-shadow: $box-shadow;
	}

	&:focus {
		border-color: $white;
	}

	&:disabled,
	&[ disabled ] {
		background: #CCCCCC;
	}
}

@mixin button-style-secondary-inverted {
	background: transparent;
	border-color: $white;
	color: $white;

	&:hover,
	&:active,
	&:focus {
		border-color: #ACB5C1;
		color: #ACB5C1;
	}

	&:focus {
		outline: $border-width-medium solid $white;
	}

	&:disabled,
	&[ disabled ] {
		background: rgba(255, 255, 255, 0.3);
		color: #CCCCCC;
	}
}

@mixin button-style-tertiary-inverted {
	@include button-style-secondary-inverted;
	background: rgba(#ACB5C1, 0.3);
	color: $white;
}

/* Button Sizes */

@mixin button-width-xsmall {
	max-width: 100%;
	padding-left: 0;
	padding-right: 0;
	width: $button-width-xsmall;
}

@mixin button-width-small {
	max-width: 100%;
	padding-left: 0;
	padding-right: 0;
	width: $button-width-small;
}

@mixin button-width-regular {
	max-width: 100%;
	padding-left: 0;
	padding-right: 0;
	width: $button-width-regular;
}

@mixin button-width-large {
	max-width: 100%;
	padding-left: 0;
	padding-right: 0;
	width: $button-width-large;
}

//* Design System UI Library Treatments ==================================== *//

//* Global Text Treatments ==================================== *//

@mixin ui-leadin-text {
	font-size: rem-calc( 18 );
	line-height: $ui-leadin-text-lh;
	padding-bottom: rem-calc( 8 );
	
	@include media( ">=large" ) {
		font-size: rem-calc( 22 );
	}
	@include media( ">=xlarge" ) {
		padding-bottom: $unit;
	}
}

@mixin ui-main-text {
	font-family: $font-family-heading;
	font-size: $ui-header-main-font-size;
	line-height: $ui-main-text-lh;
	
	@include media( ">=large") {
		font-size: $ui-header-main-font-size-l;
	}
}

//* Carousel ==================================== *//
@mixin ui-carousel-arrows-button {
	background: $white;
	border-radius: 50%;
	box-shadow: 0 0 20px rgba(0,0,0,0.15);
	color: $black;
	font-size: $ui-carousel-icon-font-size;
	height: $ui-carousel-icon-size;
	line-height: 1;
	padding: 0;
	text-align: center;
	width: $ui-carousel-icon-size;
}

//* Accordion ==================================== *//
@mixin ui-accordion-tab-toggle {
	font-family: "Genesis-Icons" !important;
	font-size: $unit;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 1; 
	speak: none;
	text-align: right;
	text-transform: none;
}

//* Container ==================================== *//
@mixin ui-container-py-spacing-xs {
	padding-bottom: $ui-container-py-spacing-xs / 2;
	padding-top: $ui-container-py-spacing-xs / 2;

	@include media(">=medium") {
		padding-bottom: $ui-container-py-spacing-xs;
		padding-top: $ui-container-py-spacing-xs;
	}
}

@mixin ui-container-py-spacing-s {
	padding-bottom: $ui-container-py-spacing-xs;
	padding-top: $ui-container-py-spacing-xs;

	@include media(">=medium") {
		padding-bottom: $ui-container-py-spacing-s;
		padding-top: $ui-container-py-spacing-s;
	}
}

@mixin ui-container-py-spacing-m {
	padding-bottom: $ui-container-py-spacing-s;
	padding-top: $ui-container-py-spacing-s;

	@include media(">=medium") {
		padding-bottom: $ui-container-py-spacing-m;
		padding-top: $ui-container-py-spacing-m;
	}
}

@mixin ui-container-py-spacing-l {
	padding-bottom: $ui-container-py-spacing-m;
	padding-top: $ui-container-py-spacing-m;
	
	@include media(">=medium") {
		padding-bottom: $ui-container-py-spacing-l;
		padding-top: $ui-container-py-spacing-l;
	}
}

@mixin ui-container-px-spacing-xs {
	padding-left: $ui-container-px-spacing-xs / 2;
	padding-right: $ui-container-px-spacing-xs / 2;

	@include media(">=medium") {
		padding-left: $ui-container-px-spacing-xs;
		padding-right: $ui-container-px-spacing-xs;
	}
}

@mixin ui-container-px-spacing-s {
	padding-left: $ui-container-px-spacing-xs;
	padding-right: $ui-container-px-spacing-xs;

	@include media(">=medium") {
		padding-left: $ui-container-px-spacing-s;
		padding-right: $ui-container-px-spacing-s;
	}
}

@mixin ui-container-px-spacing-m {
	padding-left: $ui-container-px-spacing-s;
	padding-right: $ui-container-px-spacing-s;

	@include media(">=medium") {
		padding-left: $ui-container-px-spacing-m;
		padding-right: $ui-container-px-spacing-m;
	}
}

@mixin ui-container-px-spacing-l {
	padding-left: $ui-container-px-spacing-m;
	padding-right: $ui-container-px-spacing-m;

	@include media(">=medium") {
		padding-left: $ui-container-px-spacing-l;
		padding-right: $ui-container-px-spacing-l;
	}
}

@mixin ui-container-mb-spacing-xs {
	margin-bottom: $ui-container-mb-spacing-xs / 2;

	@include media(">=medium") {
		margin-bottom: $ui-container-mb-spacing-xs;
	}
}

@mixin ui-container-mb-spacing-s {
	margin-bottom: $ui-container-mb-spacing-xs;

	@include media(">=medium") {
		margin-bottom: $ui-container-mb-spacing-s;
	}
}

@mixin ui-container-mb-spacing-m {
	margin-bottom: $ui-container-mb-spacing-s;

	@include media(">=medium") {
		margin-bottom: $ui-container-mb-spacing-m;
	}
}

@mixin ui-container-mb-spacing-l {
	margin-bottom: $ui-container-mb-spacing-m;

	@include media(">=medium") {
		margin-bottom: $ui-container-mb-spacing-l;
	}
}
