//* Variables ==================================== *//

/* Media Queries & Breakpoints
   https://include-media.com/
   =========================================== */

/*
| Name       | Code      | Short-Code | Em      | Px     |
| -----------|-----------|------------|---------|--------|
| Small      | small     | s          | 40em    | 640px  |
| Medium     | medium    | m          | 48em    | 768px  |
| Large      | large     | l          | 60em    | 960px  |
| X-Large    | xlarge    | xl         | 75em    | 1200px |
| XX-Large   | xxlarge   | xxl        | 90em    | 1440px |
*/

// Breakpoints
$breakpoints-small:   	40em !default;
$breakpoints-medium:  	48em !default;
$breakpoints-large:   	60em !default;
$breakpoints-xlarge:  	75em !default;
$breakpoints-xxlarge: 	90em !default;

// Wrappers
$wrappers-site:      100vw !default;

$wrappers-default:   90rem !default;
$wrappers-wide:      120rem !default;
$wrappers-ultrawide: 160rem !default;

// Colors
$white: #FFFFFF !default;
$black: #0F0F0F !default;
$gray-5: #222222 !default;
$gray-4: #707070 !default;
$gray-3: #9F9F9F !default;
$gray-2: #C0C0C0 !default;
$gray-1: #EAEAEA !default;
$transparent: rgba(0, 0, 0, 0) !default;

// Colors: Theme
$primary: #305688 !default;
$secondary: #5AAAFA !default;
$tertiary: #008571 !default;

// Colors: Messages
$message-border: 1px solid currentColor !default;
$message-border-radius: 3px !default;
$message-error-color:#C8102E !default;
$message-neutral-color: #222222 !default;
$message-info-color: #003B6F !default;
$message-success-color: #005C2B !default;
$message-warning-color: #906D04 !default;
$message-font-color: $white !default;
$message-danger-color: $message-error-color;
$message-discount-color: $message-success-color;

// Border: Radius
$radius-none:   0 !default;
$radius-small:  0.1875em !default;
$radius-medium: 0.25em !default;
$radius-large:  10em !default;

$btn-radius:   $radius-small !default;
$input-radius: 0 !default;

// Border: Styles
$border-solid: 1px solid #DDDDDD !default;

// Border: Width
$border-width-none:   0 !default;
$border-width-small:  1px !default;
$border-width-medium: 2px !default;
$border-width-large:  4px !default;

// Box-Shadows
$shadow: 0 0 0 0 rgba(0, 0, 0, 0.2) !default;
$shadow-inset: inset 0 0 0.5em 0 rgba(0, 0, 0, 0.2) !default;

// Fonts: Base Settings
$html-font-size: 100% !default;
$font-size: 1rem !default;
$font-size-incrimentor: 0.333 !default;

$line-height: 1.25 !default;
$heading-line-height: $line-height !default;

//Fonts: Family
$font-family-heading: ("Helvetica Neue", Helvetica, Arial, sans-serif) !default;
$font-family-copy: ("Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif) !default;
$font-family-cta: ("Neue Haas Grotesk", "neue-haas-grotesk-display", Arial, sans-serif) !default;

$font-family-primary: $font-family-copy !default;
$font-family-secondary: $font-family-cta !default;

// Fonts: Icons
@import "extensions/icons/lib/webfont/variables";
$font-family-icons: ($icomoon-font-family, sans-serif) !default;

// Fonts: Size
$font-size-xsmall: 0.75rem !default;
$font-size-small:  0.85rem !default;
$font-size-medium: 1rem !default;
$font-size-large:  1.5rem !default;
$font-size-xlarge: 2rem !default;

// Fonts: Heading Size
$h6-size: 1.5625rem !default;
$h5-size: 1.875rem !default;
$h4-size: 2.1875rem !default;
$h3-size: 2.5rem !default;
$h2-size: 2.8125rem !default;
$h1-size: 3.125rem !default;

// Fonts: Colors
$main-text-color: #4A4A4A !default;
$main-link-color: #60666C !default;

// Fonts: Weights
$font-weight-lighter:  100;
$font-weight-light:    200;
$font-weight-normal:   400;
$font-weight-medium:   500;
$font-weight-semibold: 600;
$font-weight-bold:     700;
$font-weight-black:    900;

// Outline
$outline: 0 !default;

// Animation
$transition-time: 0.25s;
$transition-easing: ease-in-out;
$transition: all $transition-time $transition-easing;

// Input
$input-background-color:          $white !default;
$input-border:                    $border-solid !default;
$input-disabled-background-color: $gray-2 !default;
$input-outline:                   $outline !default;
$input-shadow-active:             none !default;
$input-shadow:                    $shadow !default;
$input-transition:                box-shadow $transition-time ease, border-color $transition-time ease, background-color $transition-time ease !default;

// Input: Heights
$input-height:           3em !default;
$input-height-large:     4em !default;
$input-height-huge:      5em !default;

// Keylines
$keyline-border: $input-border !default;

// Units
$unit:         1rem !default;
$unit-xxsmall: $unit / 8 !default;
$unit-xsmall:  $unit / 4 !default;
$unit-small:   $unit / 2 !default;
$unit-medium:  $unit * 1.5 !default;
$unit-large:   $unit * 2 !default;
$unit-xlarge:  $unit * 4 !default;
$unit-xxlarge:  $unit * 5 !default;
$unit-xxxlarge: $unit * 6 !default;

// Spacers
$spacer-1:  0.3125rem !default;
$spacer-2:  0.625rem !default;
$spacer-3:  1.25rem !default;
$spacer-4:  1.5625rem !default;
$spacer-5:  1.875rem !default;
$spacer-6:  3.125rem !default;
$spacer-7:  3.75rem !default;
$spacer-8:  5rem !default;
$spacer-9:  6.25rem !default;
$spacer-10: 8.125rem !default;

// Units: Columns
$column-count: 12 !default;
$gutter-width: $unit !default;
$gutter-unit: $gutter-width / 2 !default;

// Tables
$table-border:                $input-border !default;
$table-stripe-color:          $gray-1 !default;
$table-row-padding:           $unit-small !default;
$table-cell-padding:          $unit-small !default;
$table-cell-padding-large: $unit !default;
$table-cell-padding-xlarge:     $unit-large !default;

// Z-indexes
$layers-max: 9999 !default;
$layers-min: -9999 !default;
$layers-n1:  -1 !default;
$layers-0:   0 !default;
$layers-1:   100 !default;
$layers-2:   200 !default;
$layers-3:   300 !default;
$layers-4:   400 !default;

// Generic Cards
$card-height: 100% !default;
$card-bg: $gray-1 !default;
$card-border-width: 0 !default;
$card-border-color: $gray-2 !default;
$card-border: $card-border-width solid $card-border-color;
$card-border-radius: $radius-large !default;
$card-spacer-y: $unit !default;
$card-spacer-x: $unit !default;
$card-cap-bg: $gray-2 !default;
$card-inner-border-radius: $radius-large !default;
$nav-tabs-link-active-bg: $gray-2 !default;
$enable-rounded: 1 !default;

// Product Cards
$flag-primary-color: $primary !default;
$flag-secondary-color: $secondary !default;
$flag-tertiary-color: $tertiary !default;
$rating-color: #FFD700 !default;
$box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.15) !default;

// Buttons
$button-background-color: $black;
$button-border: $border-width-medium solid $button-background-color;
$button-font-size: $font-size;
$button-font-family: $font-family-secondary;
$button-font-weight: $font-weight-medium;

$button-width-xsmall:  5.3125rem !default;
$button-width-small:   6.25rem !default;
$button-width-regular: 8.125rem !default;
$button-width-large:   19.5625rem !default;

// Design System UI Library

//Globals
$ui-leadin-text-lh: 1.25 !default;
$ui-main-text-lh: 1 !default;

// Hero
$ui-hero-altlink-subheader-font-weight: $font-weight-semibold !default;
$ui-hero-caption-width: rem-calc( 290 ) !default;
$ui-hero-caption-button-spacing: rem-calc( 50 ) !default;
$ui-hero-image-bg-position: 50% !default;
$ui-hero-main-font-size: rem-calc( 30 ) !default;
$ui-hero-main-font-size-l: rem-calc( 80 ) !default;
$ui-header-link-font-size: $font-size-small !default;
$ui-hero-spacer-l: $unit-large !default;
$ui-hero-spacer-m: $unit-medium !default;
$ui-hero-spacer: $unit !default;
$ui-hero-spacer-s: $unit-small !default;
$ui-hero-spacer-xs: $unit-xsmall !default;

// Header
$ui-header-main-font-size: rem-calc( 25 ) !default;
$ui-header-main-font-size-l: rem-calc( 50 ) !default;
$ui-header-link-font-size: $font-size-small !default;
$ui-header-link-font-weight: $font-weight-bold !default;
$ui-header-spacer-l: $unit-large !default;
$ui-header-spacer-m: $unit-medium !default;
$ui-header-spacer: $unit !default;
$ui-header-spacer-s: $unit-small !default;
$ui-header-spacer-xs: $unit-xsmall !default;
$ui-header-copy-wrap: rem-calc( 1080 ) !default;

// Carousel
$ui-carousel-icon-font-size: 1.875rem !default;
$ui-carousel-icon-size: 2.8125rem !default;
$ui-carousel-arrow-position-mobile: 37% !default;
$ui-carousel-arrow-position-tablet: 44% !default;
$ui-carousel-arrow-position-desktop: 40% !default;
$ui-carousel-arrow-left-position: 0 !default;
$ui-carousel-arrow-right-position: 0 !default;

// Product Card - Currently only applies to carousel -
$ui-product-card-font-size-xxs: 0.75rem !default;
$ui-product-card-font-size-xs: 0.8125rem !default;
$ui-product-card-font-size-s: 0.9375rem !default;
$ui-product-card-font-size: 1rem !default;
$ui-product-card-footer-align: center !default;
$ui-product-card-image-padding: 0 !default;
$ui-product-card-information-align: center !default;
$ui-product-card-line-height-s: 1.2 !default;
$ui-product-card-line-height: 1.25 !default;
$ui-product-card-price-line-height: 1 !default;
$ui-product-card-name-spacing-mobile: $unit-small 0 !default;
$ui-product-card-name-spacing-desktop: $unit-medium 0 $unit !default;
$ui-product-card-name-weight: 500 !default;
$ui-product-card-top-padding: 0 !default;

// Promo Grid
$ui-promo-grid-copy-font-size: $unit !default;
$ui-promo-grid-image-header-width: rem-calc( 300 ) !default;
$ui-promo-grid-image-main-font-size: rem-calc( 25 ) !default;
$ui-promo-grid-image-main-font-size-xl: rem-calc( 34 ) !default;
$ui-promo-grid-main-font-size: rem-calc( 18 ) !default;
$ui-promo-grid-main-font-size-xl: rem-calc( 22 ) !default;
$ui-promo-grid-text-font-size: rem-calc( 18 ) !default;
$ui-promo-grid-text-font-size-m: rem-calc( 22 ) !default;
$ui-promo-grid-small-main-font-size: rem-calc( 18 ) !default;
$ui-promo-grid-small-link-font-size: rem-calc( 13 ) !default;
$ui-promo-grid-link-font-size: $font-size-small !default;
$ui-promo-grid-spacer-xl: rem-calc( 45 ) !default;
$ui-promo-grid-spacer-l: $unit-large !default;
$ui-promo-grid-spacer-m: $unit-medium !default;
$ui-promo-grid-spacer: $unit !default;
$ui-promo-grid-spacer-s: $unit-small !default;
$ui-promo-grid-spacer-xs: $unit-xsmall !default;

// Accordion
$ui-accordion-spacer-l: $unit-medium * 1.5 !default;
$ui-accordion-spacer-m: $unit-medium !default;
$ui_accordion_spacer: $unit !default;
$ui-accordion-spacer-s: $unit-small !default;
$ui-accordion-spacer-xs: $unit-xsmall !default;
$ui-accordion-label-font-size: rem-calc(18) !default;
$ui-accordion-label-line-height: (24 / 18) !default;
$ui-accordion-copy-font-size-s: rem-calc(14) !default;
$ui-accordion-copy-line-height-s: (19 / 14) !default;
$ui-accordion-copy-font-size: rem-calc(18) !default;
$ui-accordion-copy-line-height: (28 / 18) !default;
$ui-accordion-tab-border-width: 0 0 1px !default;
$ui-accordion-tab-border-color: $gray-2 !default;
$ui-accordion-max-img-size: rem-calc(375) !default;
$ui-accordion-wrapper: rem-calc(1080) !default;
$ui-accordion-icon-opened: $u-icon-subtract !default;
$ui-accordion-icon-closed: $u-icon-add !default;

// Container
$ui-container-px-spacing-xs: $unit-large !default;
$ui-container-px-spacing-s: $unit-large * 1.5 !default;
$ui-container-px-spacing-m: $unit-xlarge !default;
$ui-container-px-spacing-l: $unit-xxxlarge !default;
$ui-container-py-spacing-xs: $unit-large !default;
$ui-container-py-spacing-s: $unit-large * 1.5 !default;
$ui-container-py-spacing-m: $unit-xlarge !default;
$ui-container-py-spacing-l: $unit-xxxlarge !default;
$ui-container-mb-spacing-xs: $unit-large !default;
$ui-container-mb-spacing-s: $unit-large * 1.5 !default;
$ui-container-mb-spacing-m: $unit-xlarge !default;
$ui-container-mb-spacing-l: $unit-xxxlarge !default;
