/* ==========================================================================
   EXTENSIONS / BREADCRUMBS
   ========================================================================== */

@import "variables";

@mixin hide_backslash {

	@include media( "<large" ) {

		.o-list-inline__item {

			&:not(:last-of-type):after {
				content: "";
				display: none;
			}
		}
	}
}

.x-breadcrumbs {
	border: none;
	margin: 0 0 $unit;
	padding: 0;

	.x-breadcrumbs__list {
		margin: 0;

		a {

			&:hover,
			&:focus {
				text-decoration: none;
			}
		}
	}

	.x-breadcrumbs--current {

		@include media( ">=large" ) {
			font-weight: $font-weight-normal;
		}
	}

	/* ==========================================================================
			DEFAULT - MOBILE DISPLAY: PARENT CATEGORY
		========================================================================== */

	&.x-breadcrumbs--mobile-parent {
		@include hide_backslash();
		padding: 0;
		transition: 0.2s all;

		@include media( "<large" ) {
			margin: 0;
		}

		.x-breadcrumbs--current {
			margin: 0;
			width: 100%;

			@include media( ">=large" ) {
				margin-right: 1rem;
			}

			a {

				.x-breadcrumbs--arrow-icon {
					font-size: 1.5rem;
					margin-right: 0.5rem;
				}

				&:hover,
				&:focus {

					.x-breadcrumbs--arrow-icon {
						text-decoration: none;
					}
				}
			}

			@include media( "<large" ) {

				.x-breadcrumb--mobile-parent--name {
					margin-left: 0.25rem;
				}
			}
		}
	}

	/* ==========================================================================
			DEFAULT - MOBILE DISPLAY: HORIZONTAL SCROLL
		========================================================================== */

	&.x-breadcrumbs--mobile-scroll {

		@include media("<large") {
			overflow: auto;
			// white-space: nowrap;

			.x-breadcrumbs__list {

				.x-breadcrumbs__list__item {
					flex: 0 0 auto;
				}

				.x-breadcrumbs--current {
					padding-right: 2rem;
				}
			}
		}

	}

	/* ==========================================================================
			DEFAULT - MOBILE DISPLAY: DROPDOWN
		========================================================================== */

	&.x-breadcrumbs--mobile-dropdown {
		@include hide_backslash();

		.x-breadcrumbs__list {
			display: block;

			@include media("<large") {
				max-height: 0;
				opacity: 0;
				transition-delay: 0.15s, 0s, 0s;
				visibility: hidden;
			}
		}

		.x-breadcrumbs--mobile-dropdown--label {
			padding-left: 1rem;
		}

		.x-breadcrumbs--mobile-dropdown--icon {
			font-size: 1.75rem;
			margin-left: 1rem;
		}

		.x-breadcrumbs--mobile-dropdown--down-icon {
			display: inline-block;
		}

		.x-breadcrumbs--mobile-dropdown--up-icon {
			display: none;
		}

		.x-breadcrumbs--mobile-dropdown--trigger {
			display: none;

			&:checked ~ .x-breadcrumbs__list {
				display: block;
				max-height: 100%;
				opacity: 1;
				overflow: hidden;
				transition: visibility 0s ease, max-height 0.3s ease, opacity 0.3s ease;
				transition-delay: 0s;
				visibility: visible;
			}

			&:checked ~ .x-breadcrumbs--mobile-dropdown--label > .x-breadcrumbs--mobile-dropdown--down-icon {
				display: none;
			}

			&:checked ~ .x-breadcrumbs--mobile-dropdown--label > .x-breadcrumbs--mobile-dropdown--up-icon {
				display: inline-block;
			}
		}

	}
}
