/* ==========================================================================
   ELEMENTS / TABLES
   ========================================================================== */

/**
 * Table styles are incredibly un-opinionated. Simply:
 *
 * 1. Force TABLEs to be full-width by default.
 * 2. Ensure their first and last cells in each row carry no indents.
 */

table {
	width: 100%; /* [1] */
}

th:first-child,
td:first-child{
	padding-left: 0; /* [2] */
}

th:last-child,
td:last-child {
	padding-right: 0; /* [2] */
}