/* ==========================================================================
THEME STYLE MODIFICATIONS
========================================================================== */

/**
* Set all your THEME styles in this file.
*
* Adding a Theme to a design is very straightforward as every component works
* like an extensible class. This allows you to add theme specific classes
* and/or override existing classes.
*
* NOTE: Any new classes created should follow the established coding
* standards for the framework. Theme specific classes should be prefixed by
* `.t-`.
*
* Why do it this way?
* By decoupling the theme styling from the default framework, you get the
* following benefits:
*		Keep the framework core library up-to-date
*		Updates to the core styles of the framework do not get overwritten when
*		extending the component.
*
*		End-user entry points remain untouched
*		End-users do not need to use any custom name that belongs only to the
*		theme.
*/

@import "variables";
@import "scss/styles";
@import "extensions/icons/index";
@import "extensions/messages/index";
@import "extensions/fasten-header/index";
@import "extensions/transfigure-navigation/index";
@import "extensions/breadcrumbs/index";
@import "extensions/search-preview/index";
@import "extensions/mini-basket/index";
@import "extensions/carousel/index";

html:after {
	@include shareBreakpoints($breakpoints);
}

button,
input,
html,
select,
textarea {
	letter-spacing: 0.05em;
}

.c-keyline {
	border-color: $gray-1;
}

.c-form-checkbox__caption {

	&:after,
	&:before {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}

.c-form-checkbox__input:checked + .c-form-checkbox__caption {

	&:after {
		background: $black none;
		border: 1px solid currentColor;
		box-shadow: inset 0 0 0 2px #FFF;
	}
}

/* Site Header
=========================================== */

.t-site-header {
	border-bottom: 1px solid $gray-1;
}

.t-site-header__top-navigation {
	@include rem( font-size, 13);
}

.t-site-header__message {
	display: inline-block;
	padding: 1rem 0 1rem 1rem;
}

.t-site-header__links {

	[ class^="u-icon-" ] {
		@include rem( font-size, 20);
		margin-right: 0.25rem;
		vertical-align: text-bottom;
	}

	a {

		&:hover {
			opacity: 0.75;
			text-decoration: none;
			transition: 0.3s;
		}
	}

	.o-layout__item {
		padding: 1rem 1rem;

		@include media(">=medium") {

			&:not(:first-of-type) {
				border-left: 1px solid rgba(255,255,255, 0.25);
			}
		}
	}

	.x-transfigure-navigation__footer {
		display: flex;
		justify-content: flex-end;
	}

	.x-transfigure-navigation__footer-link {
		color: $white;
		font-size: inherit;
		font-weight: $font-weight-normal;
		letter-spacing: inherit;
		margin: 0 1rem;
		padding: 0;
	}
}

.t-site-header__basket-link--mobile {
	@include rem( font-size, 32);
	display: flex;
}

.t-site-header__basket-link-quantity--mobile {
	@include rem( font-size, 12);
	border-radius: 50%;
	display: inline-block;
	height: 2em;
	line-height: 2;
	min-width: 2em;
	padding: 0 0.25em;
	text-align: center;
	touch-action: none;
	transform: translate(-0.75em, -1em );
	z-index: -1;
}

.t-site-header__basket-link-quantity {
	margin-left: 0.25em;
	padding: 0.625em 1.125em;
}

.t-global-account {
	@include white-shade( 2%, background-color );
	border: 1px solid $gray-1;
	box-shadow: 0 2px 1px -2px $gray-4;
	max-width: 22.5rem;
	opacity: 0;
	padding: 1rem;
	position: absolute;
	right: 0;
	top: 100%;
	transform: scaleY(0);
	transform-origin: top;
	transition: all ease-in-out 0.15s;
	visibility: hidden;
	width: 100vw;

	&.is-open {
		opacity: 1;
		transform: scaleY(1);
		visibility: visible;
	}
}

.t-global-account__form {
	margin-bottom: 0;

	.c-form-list__item {

		&:last-of-type {
			margin-bottom: 0;
			padding-top: 0.5em;
		}
	}
}

.t-site-header__search-form {
	border: 1px solid $gray-1;
	margin-bottom: 0;
	position: relative;

	.c-form-list__item {
		margin-bottom: 0;
		margin-left: auto;
	}

	.c-form-input {
		padding-left: (2em - 0.063em);
		padding-right: (2em - 0.063em);
	}
}

.t-site-header__logo {
	margin-bottom: 0;
}

.t-site-header__masthead {
	@include rem( font-size, 14);
	padding-bottom: $unit;
	padding-top: $unit;
	position: relative;
}

.t-site-header__masthead-links {
	align-items: center;
	justify-content: flex-end;

	[ class^="u-icon-" ] {
		@include rem( font-size, 20);
		margin-right: 0.25em;
		vertical-align: text-bottom;
	}

	a {

		&:first-of-type {
			border-right: 1px solid $gray-1;
			margin-right: 1em;
			padding-bottom: 0.5em;
			padding-right: (1em + 0.063em);
			padding-top: 0.5em;
		}

		&:hover {
			opacity: 0.75;
			text-decoration: none;
			transition: 0.3s;
		}
	}
}

.t-site-navigation {
	margin-bottom: 1rem;

	@include media(">=large") {
		border-bottom: 1px solid $gray-1;
	}
}

.t-site-navigation__wrap {
	@include rem( font-size, 14);
	margin-left: auto;
	margin-right: auto;
	max-width: $wrappers-default;
	position: relative;
	width: 100%;
}

.x-transfigure-navigation {

	.c-navigation__link {
		font-weight: $font-weight-semibold;

		&:hover {
			box-shadow: none;
		}
	}

	.c-navigation__row {

		&:nth-child(2) {

			.c-navigation__link {

				&:hover {
					background-color: #FFF;
					color: $black;
					transition: color ease-out 0.1s;
				}

				@include media( ">=large" ) {

					.c-navigation__list {

						.c-navigation__link {
							@include black-shade( 68% );
						}
					}
				}
			}
		}
	}

	@include media( ">=large" ) {

		.c-navigation__link {
			transition: color ease-in 0.1s;
		}

		&:hover {

			.x-transfigure-navigation__parent-row {

				.c-navigation__list {

					&:hover {

						> .c-navigation__link {
							color: $black;
						}

					}

					.c-navigation__link {
						@include black-shade( 68% );

						&:hover {
							color: $black;
						}
					}
				}
			}
		}
	}
}

.x-fasten-header {
	background-color: #FFF;
	box-shadow: 0 2px 4px rgba(128, 128, 128, 0.15);
	color: $gray-5;
	max-width: none;
	padding: 0.5rem 1rem;
	position: fixed;
}

@include media("screen", ">=large") {

	.x-transfigure-navigation__content {
		padding-bottom: 1rem;
		padding-top: 1rem;
	}
}

.x-search-preview {
	right: 0;
}

.t-breadcrumbs {
	margin-bottom: 1rem;
}

.x-collapsing-breadcrumbs__group,
.x-collapsing-breadcrumbs__list {
	border-bottom: 0 none;
	font-size: $font-size-xsmall;
	line-height: inherit;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding-right: 1rem;
	padding-top: 1em;
}

.x-collapsing-breadcrumbs__list {
	padding-bottom: 2em;
}

/* Site Footer
	=========================================== */

.t-site-footer {

	padding-bottom: $spacer-4;
	padding-top: $spacer-4;

	.c-menu__title,
	.c-collapsible-menu__label {
		font-weight: $font-weight-semibold;
	}

	.c-collapsible-menu {
		@include media( "<medium" ) {
			border-bottom: $border-solid;
		}

		&__label {
			@include media( "<medium" ) {
				padding-bottom: map-get($spacers, "l");
				padding-top: map-get($spacers, "l");
			}
		}
	}
}

.t-site-footer__content {
	padding-bottom: 0;
	padding-top: 0;

	@include media( ">=medium" ) {
		padding-top: map-get($spacers, "l");
	}

	.c-menu__link {

		&:not([ class*=" u-icon-" ]) {
			@include rem( font-size, 14 );
			font-weight: $font-weight-medium;
		}

		&:hover {
			opacity: 0.75;
			text-decoration: none;
		}
	}
}

.t-site-footer__disclaimer {
	padding-top: map-get($spacers, "l");
	@include rem( font-size, 12 );
}

.t-global-footer-social-links {

	.c-menu__link {
		padding: 0 1rem 1rem 0;

		&:hover {
			opacity: 0.75;
			text-decoration: none;
		}
	}
}

.t-newsletter-form__input {
	height: auto;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}

.t-newsletter-form {

	@include media ("<medium" ) {

		fieldset {
			display: block;
			max-height: 0;
			opacity: 0;
			transition-delay: 0.15s, 0s, 0s;
			visibility: hidden;
		}

		.c-collapsible-menu__trigger:checked ~ fieldset {
			display: block;
			margin-top: 1em;
			max-height: 10em;
			opacity: 1;
			overflow: hidden;
			transition: visibility 0s ease, max-height 0.3s ease, opacity 0.3s ease;
			transition-delay: 0s;
			visibility: visible;
		}
	}
}

/* Category Tree
	=========================================== */

.x-category-tree__heading {
	font-size: $font-size-medium;

	@include media( ">=large" ) {
		padding-top: 0.25rem;
	}
}

.x-category-tree__label {
	@include rem( font-size, 12 );
	background-color: #FFF;
	border-bottom: 1px solid $gray-3;
	color: $gray-5;
	font-weight: $font-weight-bold;
	margin-bottom: 1em;
	padding: 1em 0;

	&:after,
	&:before {
		font-family: map-get( $fonts, "icons" );
		font-size: $font-size-xsmall;
		font-weight: $font-weight-normal;
	}

	&:after {
		content: $u-icon-chevron-up;
	}

	&:before {
		content: $u-icon-chevron-down;
		transform: scale(1);
	}
}

.x-category-tree__trigger {

	&:checked ~ .x-category-tree__label:after {
		transform: scale(1);
	}
}

.x-category-tree__link {
	@include rem( font-size, 14 );
	color: $black;
	font-weight: $font-weight-semibold;
	letter-spacing: 0;
	padding: 0 0 1rem;
	transition: color ease-in-out 0.2s;

	&:not(.x-category-tree__link--current):hover {
		background-color: inherit;
		text-decoration: underline;
	}
}

.x-category-tree__list--level-2 {

	.x-category-tree__link {
		font-size: $font-size-small;
		padding-left: 1.75em;
	}
}

.x-category-tree__list--level-3 {

	.x-category-tree__link {
		@include rem( font-size, 12 );
		padding-left: 2.75em;
	}
}

.x-category-tree__link--current,
.x-category-tree__list--level-2 .x-category-tree__link--current,
.x-category-tree__list--level-3 .x-category-tree__link--current {
	color: $black;
	font-weight: $font-weight-bold;
}

.t-faceting .c-form-checkbox {
	@include rem( font-size, 14 );
}

/* Category Page
	=========================================== */

.t-display-list-filtering {
	flex-wrap: nowrap;

	.x-display-list-filtering__per-page,
	.x-display-list-filtering__sort-by,
	.c-form-list__item,
	.c-form-label,
	.c-form-select {
		margin-bottom: 0;
	}

	.c-form-label {
		font-size: $font-size-xsmall;
	}

	.c-form-select__dropdown {
		@include rem( font-size, 12 );
		background-color: #FFF;
		border: 0 none;
		color: initial;
		padding: 0;
	}
}

.t-pagination {

	&.x-pagination--centered {
		justify-content: center;
	}

	.u-icon-chevron{

		&-left,
		&-right{
			@include rem( font-size, 18 );
		}

	}

	.o-list-inline {
		align-items: center;
		display: flex;
		justify-content: center;
		width: 100%;

		&__item-select{
			max-width: 8rem;
		}
	}

	.c-form-select {
		margin-bottom: 0;

		&__dropdown {
			border: 0 none;
			padding: 0;
		}
	}

}

.x-product-list__item {
	margin-bottom: 2rem;
}

.x-product-list__name,
.x-product-list__price {
	font-weight: $font-weight-semibold;
}

.x-product-list__price {
	@include white-shade( 54.12% );
	display: inline-block;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

/* Checkout Pages
	=========================================== */

.t-checkout-log-in__form {
	display: block;
	margin-bottom: 0;
	max-height: 0;
	opacity: 0;
	transition-delay: 0.15s, 0s, 0s;
	visibility: hidden;
}

.t-checkout-log-in__label {
	cursor: pointer;
}

.t-checkout-log-in__trigger {

	&:checked ~ .t-checkout-log-in__form {
		display: block;
		max-height: 9rem;
		opacity: 1;
		overflow: hidden;
		padding-top: 1em;
		transition: visibility 0s ease, max-height 0.3s ease, opacity 0.3s ease;
		transition-delay: 0s;
		visibility: visible;
	}
}

.t-checkout-basket-summary {
	@include white-shade( 5%, background-color );
	height: 100%;
	padding: 2rem 2rem 0;
}

.t-checkout-basket-summary__product-summary {

	tbody {

		.c-table-simple__cell {
			padding-top: 1.5rem;
		}
	}
}

.t-checkout-basket-summary__image {
	margin-right: 2rem;
}

.t-checkout-basket-summary__promo-form {

	&:first-child,
	&:last-child {
		@include black-shade( 87.06%, background-color );
		display: block;
		margin: -1px -2rem;
		padding-left: 2rem;
		padding-right: 2rem;

		@include media( ">=xxlarge" ) {
			margin: -1px 0;
		}
	}

	@include media( ">=xxlarge" ) {
		margin: -1px 0;
	}
}

.t-page-layout--minimal {

	@include media( "<large" ) {

		.t-site-header__logo {
			flex-basis: (100% / 12 * 12);
			max-width: (100% / 12 * 12);
		}
	}

	@include media( ">=xxlarge" ) {

		.t-main-content-element {
			max-width: none;
			padding-left: 0;
			padding-right: 0;
		}

		.t-site-footer__disclaimer {
			text-align: left;

			.o-layout__item {
				flex: none;
				white-space: nowrap;
			}
		}

	}
}

.t-payment-cta {

	@include media( ">=medium" ) {
		flex-grow: 0;
	}
}

.t-payment-form {
	@include media( ">=medium" ) {
		justify-content: center;

		.o-layout__item {
			align-items: center;
			display: flex;
			max-width: 75%;
		}

		.c-form-label {
			margin-right: 1rem;
			width: 25%;
		}

		.c-form-input {
			max-width: 50%;
		}

		.c-form-input--cvv {
			margin-right: 0.5rem;
			max-width: 25%;
		}

		.c-control-group {
			flex-grow: 1;
			max-width: 50%;
		}
	}
}


.t-checkout-customer-summary {
	margin-bottom: 1rem;
	padding: 1rem 2rem 0;

	.c-keyline {
		border-color: $gray-2;
	}

	@media print {

		padding: {
			left: 0;
			right: 0;
		}
	}
}

.t-basket_coupon-form {
	height: 0;
	margin-bottom: 0;
	transform: scaleY(0);
	transform-origin: top;
	transition: all ease-in-out 0.2s;
}

.t-basket_basket-coupon-form-toggle {

	&:checked ~ label > .u-icon-add:before {
		content: $u-icon-chevron-up;
	}

	&:checked ~ .t-basket_coupon-form {
		height: 3rem;
		transform: scaleY(1);
	}
}


/* Account Landing Page
	=========================================== */

.t-account-landing-section {
	margin-bottom: 1rem;
}

.t-account-landing-section__content {
	padding-bottom: 1rem;
	padding-right: 1rem;
	padding-top: 1.25rem;

	&.x-category-tree__row {
		padding-left: 1rem;

		span {

			&.x-category-tree__link {

				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

/* Wish List Page
	=========================================== */

.t-wish-list-search {

	.c-control-group {
		border: 1px solid $gray-3;
	}
}

.t-wish-list-search__button {
	padding-left: (1em - 0.063em);
	padding-right: (1em - 0.063em);
}

.t-wish-list__item {

	.c-control-group__button {
		flex: 1 1 50%;
		padding-left: 0;
		padding-right: 0;
	}
}
