/* ==========================================================================
   OBJECTS / LISTS
   ========================================================================== */

/**
 * The o-list-bare object strips list-like appearance from lists by removing
 * their bullets, and any indentation.
 */

.o-list-bare {
	list-style: none;
	margin-left: 0;
}

/**
 * The o-list-block object displays any list of items into stacked blocks.
 */

.o-list-block {
	list-style: none;
	margin-left: 0;
}

.o-list-block__item {
	display: block;
}

/**
 * The o-list-inline object simply displays a list of items in one line.
 */

.o-list-inline {
	list-style: none;
	margin-left: 0;
}

.o-list-inline__item {
	display: inline-block;
}

/* Spacing modifiers
   =========================================== */

.o-list-inline--narrow > .o-list-inline__item {
	margin-right: $unit-small;
}

.o-list-inline--wide > .o-list-inline__item {
	margin-right: $unit-large;
}
