/* ==========================================================================
   OBJECTS / WRAPPER
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */

.o-site-wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: $wrappers-site;
	width: 100%;
}

.o-wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: $wrappers-default;
	padding-left: $gutter-unit;
	padding-right: $gutter-unit;
	width: 100%;
}

@each $wrapper-name, $wrapper-width in $wrappers {

	.o-wrapper--#{$wrapper-name} {
		max-width: $wrapper-width;
	}

}

.o-wrapper--full {
	max-width: 100vw;
}

.o-wrapper--flush {
	padding-left: 0;
	padding-right: 0;
}

.o-wrapper--wide {
	padding: {
		left: $gutter-unit * 2;
		right: $gutter-unit * 2;
	}
}